// SPDX-License-Identifier: GPL-2.0
/*
 * DTS file for Phytium Pd1904 Development Board
 *
 * Copyright (c) 2018-2024 Phytium Technology Co., Ltd.
 */

/dts-v1/;
/memreserve/ 0x80000000 0x10000;

#include <ft2004v1-generic-psci-soc.dtsi>

/{
	model = "Phytium Pd1904 Development Board";
	compatible = "phytium,pd1904-devboard", "phytium,pd1904";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		stdout-path = "uart1:115200n8";
	};

	memory@00{
		device_type = "memory";
		reg = <0x0 0x80000000 0x1 0x00000000>;
	};

	memory@01{
		device_type = "memory";
		reg = <0x20 0x00000000 0x1 0x00000000>;
	};

/*	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};*/

    /* CPU通过一个GPIO产生方波，以此来发送喂狗信号给底板CPLD */
    hw_watchdog {
        compatible = "snps,ft-wdt";
        gpio_base=<0x28004000>;     /* GPIO基地址 */
        gpio_size=<0x100>;
        gpio_wdi=<15>;              /* GPIO0_A6中断后，会去设置GPIO0_B7，产生方波，让CPU发送喂狗信号给底板CPLD */
        gpio_irq=<6>;               /* GPIO0_A6接收CPLD产生的方波，产生中断 */
        irq_type=<0x00000001>;      /* GPIO0_A6 GPIO中断触发类型：1 - 上升沿 2 - 下降沿，4 - 高电平，8 - 低电平 */
        timeout_ms=<10>;
    };
        
    /* CPU板上的CPLD，通过LPC总线进行访问 */
    cpld0 {
        io_dev_name = "cpld0";
        compatible = "wb-io-dev";
        io_type = /bits/ 8 <0x1>;       /* 0:ioport, 1:iomen */
        io_base = <0x20000000>;
        io_len  = <0x0100>;
    };

    /* CPU板上的CPLD模拟的SPI控制器 */
    spi-cpld0 {
        compatible = "spi-cpld";
        reg = <0x0 0x20000000 0x0 0x100000>;
        #address-cells = <1>;
        #size-cells = <0>;

        /* CPLD模拟的SPI控制器下挂了3个CPLD，分别为主CPLD、从CPLD、风扇板CPLD，3个CPLD只使用了一个片选，
         * CPLD通过地址来进行区分。作为SPI设备，其在SPI master注册时会被创建出来 */
        cpld1:cpld1 {
            compatible = "wb-spi-dev";
            reg = <0x1>;                         /* 指定spi设备使用的片选信号。即spi->chip_select */
            spi-max-frequency = <10000000>;      /* 指定spi设备工作的最大频率。即spi->max_speed_hz */

            spi_dev_name      = "cpld1";         /* 生成的misc设备的名称 */
            data_bus_width    = <1>;             /* spi设备的数据位宽，单位B */
            addr_bus_width    = <2>;             /* spi设备的地址位宽，单位B。该设备采用cmd(1B) + addr(2B) + data(1-8B)的数据格式 */
            per_rd_len        = <1>;             /* 一次SPI数据传输，最大读取的数据长度。目前是由于spi控制器数据buf最大为8B，但cpld按1B读写，故这里只能配1 */
            per_wr_len        = <1>;             /* 一次SPI数据传输，最大写入的数据长度。目前是由于spi控制器数据buf最大为8B，但cpld按1B读写，故这里只能配1 */
            spi_len           = <0x10000>;
        };
        
        //fan-cpld-flash {
          //  compatible = "jedec,spi-nor";
          //  reg = <0x2>;                        /* 片选2 */
          //  spi-max-frequency = <1000000>;      /* SPI设备操作的最大频率 */
            /* 1. 鉴于该Flash支持MODE0和MODE3，CS#，数据MSB先出，4线SPI模式, 故如下的配置不添加：
             * spi-cpha;spi-cpol;spi-cs-high;spi-3wire;spi-lsb-first;spi-tx-bus-width = <0x1>;
             * spi-rx-bus-width = <0x1>;
             * 2. 如有必要，代码中对spi设备的bits_per_word进行适配，然后进行spi_setup
             * dts抽出的spi设备，其数据位宽bits_per_word默认设置成8. 该变量需要与控制器一致
             */
        //};
    };
    
    watchdog@2800a000 {
        compatible = "arm,sbsa-gwdt";
        #address-cells = <2>;
        #size-cells = <2>;
        reg = <0x0 0x2800a000 0 0x1000>,
              <0x0 0x2800b000 0 0x1000>;
        interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>;
        timeout-sec = <10>;
    };
};

&uart1 {
	status = "ok";
};

&gmac0 {
	status = "ok";
	phy-mode = "rgmii-rxid";
};

&gmac1 {
	status = "ok";
	phy-mode = "rgmii-rxid";
};

&spi0 {
	status = "ok";
};

&qspi {
	status = "ok";
};

&i2c1 {
    clock-frequency = <100000>;
    
    /* sda保持时间配置，保证I2C外设不会因为SDA的保持时间不够而报I2C TX abort：lost arbitrary的错误 */
    i2c-sda-hold-time-ns = <100>;

    /* 只有status = "ok" or "okay"的I2C设备节点才会被创建出平台设备 */
    status = "ok";
    
    #address-cells = <1>;
    #size-cells = <0>;
    
    rtc@51 {
        compatible = "nxp,pcf85063";
        reg = <0x51>;
        cap-mode = <0x1>;
        clock-freq = <0x7>;
    };
};

&i2c2 {
    clock-frequency = <100000>;
    
    /* sda保持时间配置，保证I2C外设不会因为SDA的保持时间不够而报I2C TX abort：lost arbitrary的错误 */
    i2c-sda-hold-time-ns = <100>;
    
    status = "ok";
    
    #address-cells = <1>;
    #size-cells = <0>;
    
    /************** 主CPLD上模拟的PCA9548, PCA9548复位通过主CPLD内部寄存器进行控制 **************/
    pca9548@70 {
        /* 通过id_table和驱动匹配 */
        compatible = "nxp,wb_pca9548";
        
        /* 用来指定pca9548的i2c从地址 */
        reg = <0x70>;
        
        /* 用来指明其从设备reg的属性只有一个addr单元 */
        #address-cells = <1>;
        #size-cells = <0>;

        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        close_chan_force_reset;             /* 关闭9548通道时，强制进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        /* 复位前 + 复位过程 + 复位后 的延迟时间，单位us */
        rst_delay_b = <1>;
        rst_delay   = <2>;                   /* S6231 CPLD模拟的PCA9548复位时间间隔约为120ns，故这里设备为2us */
        rst_delay_a = <1>;
        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x205c>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0x01>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0x00>;                  /* 低电平复位时，则填0；否则和mask一致 */
        reset_off = <0x01>;                  /* 低电平复位时，和mask一致，否则填0 */
    };
    
    pca9548@71 {
        compatible = "nxp,wb_pca9548";
        reg = <0x71>;
        #address-cells = <1>;
        #size-cells = <0>;

        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        close_chan_force_reset;             /* 关闭9548通道时，强制进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x205c>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0x02>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0x00>;
        reset_off = <0x02>;
    };
    
    pca9548@72 {
        compatible = "nxp,wb_pca9548";
        reg = <0x72>;
        #address-cells = <1>;
        #size-cells = <0>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        close_chan_force_reset;             /* 关闭9548通道时，强制进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x205c>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0x04>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0x00>;
        reset_off = <0x04>;
    };
    
    pca9548@73 {
        compatible = "nxp,wb_pca9548";
        reg = <0x73>;
        #address-cells = <1>;
        #size-cells = <0>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        close_chan_force_reset;             /* 关闭9548通道时，强制进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x205c>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0x08>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0x00>;
        reset_off = <0x08>;

        mux-2@2{
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <2>;
        };
    };
    
    /************** 从CPLD上模拟的PCA9548 **************/
    pca9548@74 {
        compatible = "nxp,wb_pca9548";
        reg = <0x74>;
        #address-cells = <1>;
        #size-cells = <0>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        close_chan_force_reset;             /* 关闭9548通道时，强制进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x404a>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0x01>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0x00>;
        reset_off = <0x01>;
    };
    
    pca9548@75 {
        compatible = "nxp,wb_pca9548";
        reg = <0x75>;
        #address-cells = <1>;
        #size-cells = <0>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        close_chan_force_reset;             /* 关闭9548通道时，强制进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x404a>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0x02>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0x00>;
        reset_off = <0x02>;
    };
    
    pca9548@76 {
        compatible = "nxp,wb_pca9548";
        reg = <0x76>;
        #address-cells = <1>;
        #size-cells = <0>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        close_chan_force_reset;             /* 关闭9548通道时，强制进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x404a>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0x04>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0x00>;
        reset_off = <0x04>;
    };
    
    pca9548@77 {
        compatible = "nxp,wb_pca9548";
        reg = <0x77>;
        #address-cells = <1>;
        #size-cells = <0>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        close_chan_force_reset;             /* 关闭9548通道时，强制进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x404a>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0x08>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0x00>;
        reset_off = <0x08>;
    };
    
    /************** 风扇板CPLD上模拟的PCA9548 **************/
    pca9548@78 {
        compatible = "nxp,wb_pca9548";
        reg = <0x78>;
        #address-cells = <1>;
        #size-cells = <0>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        close_chan_force_reset;             /* 关闭9548通道时，强制进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x805b>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0x01>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0x00>;
        reset_off = <0x01>;
    };
};
