#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# Configuration item: LED CPLD register address
# Description: format led_status_[led_type]_[led_index]
# Note: led_type definition:
#typedef enum rg_led_e {
#    RG_SYS_LED_FRONT   = 0,      /* Front panel SYS light */
#    RG_SYS_LED_REAR    = 1,      /* Rear panel SYS light */
#    RG_BMC_LED_FRONT   = 2,      /* Front panel BMC light */
#    RG_BMC_LED_REAR    = 3,      /* Rear panel BMC light */
#    RG_FAN_LED_FRONT   = 4,      /* Front panel FAN light */
#    RG_FAN_LED_REAR    = 5,      /* Rear panel FAN light */
#    RG_PSU_LED_FRONT   = 6,      /* Front panel PSU light */
#    RG_PSU_LED_REAR    = 7,      /* Rear panel PSU light */
#    RG_ID_LED_FRONT    = 8,      /* Front panel positioning light */
#    RG_ID_LED_REAR     = 9,      /* Rear panel positioning light */
#    RG_FAN_LED_MODULE  = 10,     /* Fan module indicator */
#    RG_PSU_LED_MODULE  = 11,     /* PSU module indicator */
#    RG_SLOT_LED_MODULE = 12,     /* Sub-card status indicator */
#} rg_led_t;
# led_index:If there is no index, fill in 0. If there is an index (such as a fan light), the number starts from 1

# Configuration item: The LED light CPLD register value is converted to the standard value
# Format led_status_decode_[led_type]_[cpld_value] = [s3ip_color]
# led_type: see rg_led_t structure above;
# cpld_value: register value in the original CPLD
# s3ip_color: The meanings of the color defined by the s3ip protocol are as follows: 0: off, 1: green, 2: yellow, 3: red, 
# 4: blue, 5: green blinking, 6: yellow blinking, 7: red blinking
# Example: led_status_decode_1_2=3 indicates that when the SYS indicator on the rear panel reads 2 in the cpld, it indicates a red light

# led_type [0]:Front panel SYS light
led_status.mode_0_0=config
led_status.src_0_0=file
led_status.frmt_0_0=bit
led_status.fpath_0_0=/dev/cpld1
led_status.addr_0_0=0x00002052
led_status.len_0_0=3
led_status.bit_offset_0_0=0

# Configuration item: Conversion of LED CPLD register value to standard value
# Instructions: Format: led_status_decode_[led_id]_[origin_value], where origin_value is the original CPLD value.
# led_id is the same as the LED type definition, where 0 represents the front panel SYS LED.
# The values on the right side of the equal sign are: 0 for off, 4 for green, 5 for red, 6 for green flashing, and 7 for yellow.
led_status_decode_0_0=0
led_status_decode_0_4=1
led_status_decode_0_7=2
led_status_decode_0_6=3
led_status_decode_0_5=5

# Front panel locator LED
led_status.mode_8_0=config
led_status.src_8_0=file
led_status.frmt_8_0=bit
led_status.fpath_8_0=/dev/cpld1
led_status.addr_8_0=0x00002052
led_status.len_8_0=2
led_status.bit_offset_8_0=6

# Configuration item: Conversion of LED CPLD register value to standard value
# Instructions: Format: led_status_decode_[led_id]_[origin_value], where origin_value is the original CPLD value.
# led_id is the same as the LED type definition, where 8 represents the front panel locator LED.
# The values on the right side of the equal sign are: 0 for off, 2 for blue, and 3 for blue flashing.
led_status_decode_8_0=0
led_status_decode_8_2=4
led_status_decode_8_3=8