#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# Configuration item: LED CPLD register address
# Description: format led_status_[led_type]_[led_index]
# Note: led_type definition:
#typedef enum rg_led_e {

# led_type [0]:Front panel SYS light
led_status.mode_0_0=config
led_status.int_cons_0_0=
led_status.src_0_0=logic_file
led_status.frmt_0_0=byte
led_status.pola_0_0=negative
led_status.fpath_0_0=/dev/fpga0
led_status.addr_0_0=0x1148
led_status.len_0_0=1
led_status.bit_offset_0_0=

# led_status_decode_[led_id]_[origin_value]=[standards of s3ip]
# led_id [0]:Front panel SYS light
# origin_value:org CPLD vaule
# standards of s3ip: standards of s3ip
#   0：dark
#   1：green
#   2：yellow
#   3：red
#   4：blue
#   5：green light flashing
#   6：yellow light flashing
#   7：bule ligh flashing
led_status_decode_0_0=0
led_status_decode_0_1=7
led_status_decode_0_2=3
led_status_decode_0_3=5
led_status_decode_0_4=1
led_status_decode_0_5=6
led_status_decode_0_6=2
led_status_decode_0_7=0
led_status_decode_0_0x11=5
led_status_decode_0_0x12=7
led_status_decode_0_0x13=6
led_status_decode_0_0x21=5
led_status_decode_0_0x22=7
led_status_decode_0_0x23=6
led_status_decode_0_0x41=5
led_status_decode_0_0x42=7
led_status_decode_0_0x43=6
led_status_decode_0_0x81=5
led_status_decode_0_0x82=7
led_status_decode_0_0x83=6

# led_type [4]:Front panel FAN light
led_status.mode_4_0=config
led_status.int_cons_4_0=
led_status.src_4_0=logic_file
led_status.frmt_4_0=byte
led_status.pola_4_0=negative
led_status.fpath_4_0=/dev/fpga0
led_status.addr_4_0=0x1150
led_status.len_4_0=1
led_status.bit_offset_4_0=

# led_status_decode_[led_id]_[origin_value]=[standards of s3ip]
# led_id [4]:Front panel FAN light
# origin_value:org CPLD vaule
# standards of s3ip: standards of s3ip
#   0：dark
#   1：green
#   2：yellow
#   3：red
#   4：blue
#   5：green light flashing
#   6：yellow light flashing
#   7：bule ligh flashing
led_status_decode_4_0=0
led_status_decode_4_1=7
led_status_decode_4_2=3
led_status_decode_4_3=5
led_status_decode_4_4=1
led_status_decode_4_5=6
led_status_decode_4_6=2
led_status_decode_4_7=0

# led_type [6]:Front panel PSU light
led_status.mode_6_0=config
led_status.int_cons_6_0=
led_status.src_6_0=logic_file
led_status.frmt_6_0=byte
led_status.pola_6_0=negative
led_status.fpath_6_0=/dev/fpga0
led_status.addr_6_0=0x114c
led_status.len_6_0=1
led_status.bit_offset_6_0=

# led_status_decode_[led_id]_[origin_value]=[standards of s3ip]
# led_id [6]:Front panel PSU light
# origin_value:org CPLD vaule
# standards of s3ip: standards of s3ip
#   0：dark
#   1：green
#   2：yellow
#   3：red
#   4：blue
#   5：green light flashing
#   6：yellow light flashing
#   7：bule ligh flashing
led_status_decode_6_0=0
led_status_decode_6_1=7
led_status_decode_6_2=3
led_status_decode_6_3=5
led_status_decode_6_4=1
led_status_decode_6_5=6
led_status_decode_6_6=2
led_status_decode_6_7=0

# led_type [8]:location
led_status.mode_8_0=config
led_status.int_cons_8_0=
led_status.src_8_0=logic_file
led_status.frmt_8_0=byte
led_status.pola_8_0=negative
led_status.fpath_8_0=/dev/fpga0
led_status.addr_8_0=0x1140
led_status.len_8_0=1
led_status.bit_offset_8_0=

# led_status_decode_[led_id]_[origin_value]=[standards of s3ip]
# led_type [8]:location
# origin_value:org CPLD vaule
# standards of s3ip: standards of s3ip
#   0：dark
#   1：green
#   2：yellow
#   3：red
#   4：blue
#   5：green light flashing
#   6：yellow light flashing
#   7：bule ligh flashing

led_status_decode_8_0=0
led_status_decode_8_1=4
led_status_decode_8_2=4
led_status_decode_8_3=4

# led_type [100] BMC ctrl SYS
led_status.mode_100_0=config
led_status.int_cons_100_0=
led_status.src_100_0=logic_file
led_status.frmt_100_0=byte
led_status.pola_100_0=negative
led_status.fpath_100_0=/dev/fpga0
led_status.addr_100_0=0x11ec
led_status.len_100_0=1
led_status.bit_offset_100_0=

# led_status_decode_[led_id]_[origin_value]=[standards of s3ip]
# led_id [0]:Front panel SYS light
# origin_value:org CPLD vaule
# standards of s3ip: standards of s3ip
#   0：dark
#   1：green
#   2：yellow
#   3：red
#   4：blue
#   5：green light flashing
#   6：yellow light flashing
#   7：bule ligh flashing

led_status_decode_100_0=0
led_status_decode_100_1=7
led_status_decode_100_2=3
led_status_decode_100_3=5
led_status_decode_100_4=1
led_status_decode_100_5=6
led_status_decode_100_6=2
led_status_decode_100_7=0
led_status_decode_100_0x11=5
led_status_decode_100_0x12=7
led_status_decode_100_0x13=6
led_status_decode_100_0x21=5
led_status_decode_100_0x22=7
led_status_decode_100_0x23=6
led_status_decode_100_0x41=5
led_status_decode_100_0x42=7
led_status_decode_100_0x43=6
led_status_decode_100_0x81=5
led_status_decode_100_0x82=7
led_status_decode_100_0x83=6

# [2] BMC led
led_status.mode_2_0=config
led_status.int_cons_2_0=
led_status.src_2_0=logic_file
led_status.frmt_2_0=byte
led_status.pola_2_0=negative
led_status.fpath_2_0=/dev/fpga0
led_status.addr_2_0=0x1154
led_status.len_2_0=1
led_status.bit_offset_2_0=

# led_status_decode_[led_id]_[origin_value]=[standards of s3ip]
# led_id [2] BMC led
# origin_value:org CPLD vaule
# standards of s3ip: standards of s3ip
#   0：dark
#   1：green
#   2：yellow
#   3：red
#   4：blue
#   5：green light flashing
#   6：yellow light flashing
#   7：bule ligh flashing
led_status_decode_2_0=0
led_status_decode_2_1=7
led_status_decode_2_2=3
led_status_decode_2_3=5
led_status_decode_2_4=1
led_status_decode_2_5=6
led_status_decode_2_6=2
led_status_decode_2_7=0