#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# temperature sensor number
dev_num_0_1=6

# Configuration item: Temperature hwmon path
# Description: Format hwmon_temp[key1]_[key2]
# Note: key1: A high 8bit indicates the device index starting from 1. A low 8bit indicates the temperature index starting from 1
# key2:The high 4bit indicates the main device type, the sub-card is 5, and the low 4bit indicates the temperature type 0:input 1:alias
# 2:type 3:max 4:max_hyst 5:min 6:crit
# mode: str_constant takes the value of str_cons directly, and config reads it in the way specified by src
# int_cons:N raw value/(10^N)
# fpath:hwmon first half of the path
# bit_offset: Number of decimal places, retain original precision if not configured
# str_cons:if mode is str_constant,the value is result of read,if read from file the value is read file name.

# sensor temp1 input
hwmon_temp.mode_0x0001_0x00=config
hwmon_temp.int_cons_0x0001_0x00=
hwmon_temp.src_0x0001_0x00=file
hwmon_temp.frmt_0x0001_0x00=buf
hwmon_temp.fpath_0x0001_0x00=/sys/devices/platform/coretemp.0/hwmon/
hwmon_temp.addr_0x0001_0x00=0
hwmon_temp.len_0x0001_0x00=16
hwmon_temp.bit_offset_0x0001_0x00=
hwmon_temp.str_cons_0x0001_0x00=temp1_input

# sensor temp1 alias
hwmon_temp.mode_0x0001_0x01=str_constant
hwmon_temp.str_cons_0x0001_0x01=CPU

hwmon_temp.mode_0x0001_0x02=str_constant
hwmon_temp.str_cons_0x0001_0x02=cpu

# sensor temp1 max
hwmon_temp.mode_0x0001_0x03=constant
hwmon_temp.int_cons_0x0001_0x03=95000

# sensor temp1 min
hwmon_temp.mode_0x0001_0x05=constant
hwmon_temp.int_cons_0x0001_0x05=0

# sensor temp1 high
hwmon_temp.mode_0x0001_0x09=constant
hwmon_temp.int_cons_0x0001_0x09=90000

# sensor temp1 low
hwmon_temp.mode_0x0001_0x0a=constant
hwmon_temp.int_cons_0x0001_0x0a=2000


# sensor temp2 input
hwmon_temp.mode_0x0002_0x00=config
hwmon_temp.int_cons_0x0002_0x00=
hwmon_temp.src_0x0002_0x00=file
hwmon_temp.frmt_0x0002_0x00=buf
hwmon_temp.fpath_0x0002_0x00=/sys/bus/i2c/devices/18-004b/hwmon/
hwmon_temp.addr_0x0002_0x00=0
hwmon_temp.len_0x0002_0x00=16
hwmon_temp.bit_offset_0x0002_0x00=
hwmon_temp.str_cons_0x0002_0x00=temp1_input

# sensor temp2 alias
hwmon_temp.mode_0x0002_0x01=str_constant
hwmon_temp.str_cons_0x0002_0x01=Inlet_1

# sensor temp2 type
hwmon_temp.mode_0x0002_0x02=str_constant
hwmon_temp.str_cons_0x0002_0x02=lm75

# sensor temp2 max
hwmon_temp.mode_0x0002_0x03=constant
hwmon_temp.int_cons_0x0002_0x03=55000

# sensor temp2 min
hwmon_temp.mode_0x0002_0x05=constant
hwmon_temp.int_cons_0x0002_0x05=-15000

# sensor temp2 high
hwmon_temp.mode_0x0002_0x09=constant
hwmon_temp.int_cons_0x0002_0x09=50000

# sensor temp2 low
hwmon_temp.mode_0x0002_0x0a=constant
hwmon_temp.int_cons_0x0002_0x0a=-10000


# sensor temp3 input
hwmon_temp.mode_0x0003_0x00=config
hwmon_temp.int_cons_0x0003_0x00=
hwmon_temp.src_0x0003_0x00=file
hwmon_temp.frmt_0x0003_0x00=buf
hwmon_temp.fpath_0x0003_0x00=/sys/bus/i2c/devices/19-004b/hwmon/
hwmon_temp.addr_0x0003_0x00=0
hwmon_temp.len_0x0003_0x00=16
hwmon_temp.bit_offset_0x0003_0x00=
hwmon_temp.str_cons_0x0003_0x00=temp1_input

# sensor temp3 alias
hwmon_temp.mode_0x0003_0x01=str_constant
hwmon_temp.str_cons_0x0003_0x01=Inlet_2

# sensor temp3 type
hwmon_temp.mode_0x0003_0x02=str_constant
hwmon_temp.str_cons_0x0003_0x02=lm75

# sensor temp3 max
hwmon_temp.mode_0x0003_0x03=constant
hwmon_temp.int_cons_0x0003_0x03=55000

# sensor temp3 min
hwmon_temp.mode_0x0003_0x05=constant
hwmon_temp.int_cons_0x0003_0x05=-15000

# sensor temp3 high
hwmon_temp.mode_0x0003_0x09=constant
hwmon_temp.int_cons_0x0003_0x09=50000

# sensor temp3 low
hwmon_temp.mode_0x0003_0x0a=constant
hwmon_temp.int_cons_0x0003_0x0a=-10000


# sensor temp4 input
hwmon_temp.mode_0x0004_0x00=config
hwmon_temp.int_cons_0x0004_0x00=
hwmon_temp.src_0x0004_0x00=file
hwmon_temp.frmt_0x0004_0x00=buf
hwmon_temp.fpath_0x0004_0x00=/sys/bus/i2c/devices/31-0048/hwmon/
hwmon_temp.addr_0x0004_0x00=0
hwmon_temp.len_0x0004_0x00=16
hwmon_temp.bit_offset_0x0004_0x00=
hwmon_temp.str_cons_0x0004_0x00=temp1_input

# sensor temp4 alias
hwmon_temp.mode_0x0004_0x01=str_constant
hwmon_temp.str_cons_0x0004_0x01=Outlet_1

# sensor temp4 type
hwmon_temp.mode_0x0004_0x02=str_constant
hwmon_temp.str_cons_0x0004_0x02=lm75

# sensor temp4 max
hwmon_temp.mode_0x0004_0x03=constant
hwmon_temp.int_cons_0x0004_0x03=75000

# sensor temp4 min
hwmon_temp.mode_0x0004_0x05=constant
hwmon_temp.int_cons_0x0004_0x05=-15000

# sensor temp4 high
hwmon_temp.mode_0x0004_0x09=constant
hwmon_temp.int_cons_0x0004_0x09=70000

# sensor temp4 lowtemp4
hwmon_temp.mode_0x0004_0x0a=constant
hwmon_temp.int_cons_0x0004_0x0a=-10000


# sensor temp5 input
hwmon_temp.mode_0x0005_0x00=config
hwmon_temp.int_cons_0x0005_0x00=0
hwmon_temp.src_0x0005_0x00=file
hwmon_temp.frmt_0x0005_0x00=buf
hwmon_temp.fpath_0x0005_0x00=/sys/bus/i2c/devices/32-0049/hwmon/
hwmon_temp.addr_0x0005_0x00=0
hwmon_temp.len_0x0005_0x00=8
hwmon_temp.bit_offset_0x0005_0x00=
hwmon_temp.str_cons_0x0005_0x00=temp1_input

# sensor temp5 alias
hwmon_temp.mode_0x0005_0x01=str_constant
hwmon_temp.str_cons_0x0005_0x01=Outlet_2

# sensor temp5 type
hwmon_temp.mode_0x0005_0x02=str_constant
hwmon_temp.str_cons_0x0005_0x02=lm75

# sensor temp5 max
hwmon_temp.mode_0x0005_0x03=constant
hwmon_temp.int_cons_0x0005_0x03=75000

# sensor temp5 minfile
hwmon_temp.mode_0x0005_0x05=constant
hwmon_temp.int_cons_0x0005_0x05=-15000

# sensor temp5 high
hwmon_temp.mode_0x0005_0x09=constant
hwmon_temp.int_cons_0x0005_0x09=70000

# sensor temp5 low
hwmon_temp.mode_0x0005_0x0a=constant
hwmon_temp.int_cons_0x0005_0x0a=-10000


# sensor temp6 input
hwmon_temp.mode_0x0006_0x00=config
hwmon_temp.src_0x0006_0x00=logic_file
hwmon_temp.frmt_0x0006_0x00=num_bytes
hwmon_temp.fpath_0x0006_0x00=/dev/cpld2
hwmon_temp.addr_0x0006_0x00=0x84
hwmon_temp.len_0x0006_0x00=2
hwmon_temp.pola_0x0006_0x00=positive
hwmon_temp.str_cons_0x0006_0x00=temp1_input
hwmon_temp.int_extra1_0x0006_0x00=6

# sensor temp6 alias
hwmon_temp.mode_0x0006_0x01=str_constant
hwmon_temp.str_cons_0x0006_0x01=Switch_ASIC

# sensor temp6 type
hwmon_temp.mode_0x0006_0x02=str_constant
hwmon_temp.str_cons_0x0006_0x02=cpld

# sensor temp6 max
hwmon_temp.mode_0x0006_0x03=constant
hwmon_temp.int_cons_0x0006_0x03=105000

# sensor temp6 min
hwmon_temp.mode_0x0006_0x05=constant
hwmon_temp.int_cons_0x0006_0x05=0

# sensor temp6 high
hwmon_temp.mode_0x0006_0x09=constant
hwmon_temp.int_cons_0x0006_0x09=100000

# sensor temp6 low
hwmon_temp.mode_0x0006_0x0a=constant
hwmon_temp.int_cons_0x0006_0x0a=2000
