#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# Configuration item: Number of optical modules
# Description: Format dev_num_[main_dev]_[minor_dev]
# Note:	main_dev,optical module is 3, minor_dev, 0:does not exist
dev_num_3_0=10

# Configuration items::	optical module EEPROM size
# Description: Format eeprom_size_[main_dev]_[index]
# Note:	main_dev,optical module is 3, index, Optical module index, starting from 1
eeprom_size_3_1=0x8180
eeprom_size_3_2=0x8180
eeprom_size_3_3=0x8180
eeprom_size_3_4=0x8180
eeprom_size_3_5=0x8180
eeprom_size_3_6=0x8180
eeprom_size_3_7=0x8180
eeprom_size_3_8=0x8180
eeprom_size_3_9=0x8180
eeprom_size_3_10=0x8180

# Configuration items:	optical module EEPROM sysfs path
# Description: Format eeprom_size_[main_dev]_[index]
# Note:	main_dev,optical module is 3, index, Optical module index, starting from 1
eeprom_path_3_1=/sys/bus/i2c/devices/48-0050/eeprom
eeprom_path_3_2=/sys/bus/i2c/devices/49-0050/eeprom
eeprom_path_3_3=/sys/bus/i2c/devices/50-0050/eeprom
eeprom_path_3_4=/sys/bus/i2c/devices/51-0050/eeprom
eeprom_path_3_5=/sys/bus/i2c/devices/52-0050/eeprom
eeprom_path_3_6=/sys/bus/i2c/devices/53-0050/eeprom
eeprom_path_3_7=/sys/bus/i2c/devices/54-0050/eeprom
eeprom_path_3_8=/sys/bus/i2c/devices/55-0050/eeprom
eeprom_path_3_9=/sys/bus/i2c/devices/56-0050/eeprom
eeprom_path_3_10=/sys/bus/i2c/devices/57-0050/eeprom

sff_dir_name_1 =sff1
sff_dir_name_2 =sff2
sff_dir_name_3 =sff3
sff_dir_name_4 =sff4
sff_dir_name_5 =sff5
sff_dir_name_6 =sff6
sff_dir_name_7 =sff7
sff_dir_name_8 =sff8
sff_dir_name_9 =sff9
sff_dir_name_10 =sff10

# Configuration items:	Optical module CPLD register
# Description: Format sff_cpld_reg_[sff_index]_[cpld_reg]
# Note:	sff_index indicates the optical module number, starting from 1. 0 indicates that the power_on register is useful
# cpld_reg 1:power_on 2:tx_fault, 3:tx_dis 4:reserve 5:rx_los
# 6:reset 7:lpmode 8:module_present 9:interrupt

# 400G module reset signal 
sff_cpld_reg.mode_1_6=config
sff_cpld_reg.src_1_6=logic_file
sff_cpld_reg.frmt_1_6=bit
sff_cpld_reg.pola_1_6=negative
sff_cpld_reg.fpath_1_6=/dev/fpga0
sff_cpld_reg.addr_1_6=0x15c0
sff_cpld_reg.len_1_6=1
sff_cpld_reg.bit_offset_1_6=0

sff_cpld_reg.mode_2_6=config
sff_cpld_reg.src_2_6=logic_file
sff_cpld_reg.frmt_2_6=bit
sff_cpld_reg.pola_2_6=negative
sff_cpld_reg.fpath_2_6=/dev/fpga0
sff_cpld_reg.addr_2_6=0x15c0
sff_cpld_reg.len_2_6=1
sff_cpld_reg.bit_offset_2_6=1

sff_cpld_reg.mode_3_6=config
sff_cpld_reg.src_3_6=logic_file
sff_cpld_reg.frmt_3_6=bit
sff_cpld_reg.pola_3_6=negative
sff_cpld_reg.fpath_3_6=/dev/fpga0
sff_cpld_reg.addr_3_6=0x15c0
sff_cpld_reg.len_3_6=1
sff_cpld_reg.bit_offset_3_6=2

sff_cpld_reg.mode_4_6=config
sff_cpld_reg.src_4_6=logic_file
sff_cpld_reg.frmt_4_6=bit
sff_cpld_reg.pola_4_6=negative
sff_cpld_reg.fpath_4_6=/dev/fpga0
sff_cpld_reg.addr_4_6=0x15c0
sff_cpld_reg.len_4_6=1
sff_cpld_reg.bit_offset_4_6=3

sff_cpld_reg.mode_5_6=config
sff_cpld_reg.src_5_6=logic_file
sff_cpld_reg.frmt_5_6=bit
sff_cpld_reg.pola_5_6=negative
sff_cpld_reg.fpath_5_6=/dev/fpga0
sff_cpld_reg.addr_5_6=0x15c0
sff_cpld_reg.len_5_6=1
sff_cpld_reg.bit_offset_5_6=4

sff_cpld_reg.mode_6_6=config
sff_cpld_reg.src_6_6=logic_file
sff_cpld_reg.frmt_6_6=bit
sff_cpld_reg.pola_6_6=negative
sff_cpld_reg.fpath_6_6=/dev/fpga0
sff_cpld_reg.addr_6_6=0x15c0
sff_cpld_reg.len_6_6=1
sff_cpld_reg.bit_offset_6_6=5

sff_cpld_reg.mode_7_6=config
sff_cpld_reg.src_7_6=logic_file
sff_cpld_reg.frmt_7_6=bit
sff_cpld_reg.pola_7_6=negative
sff_cpld_reg.fpath_7_6=/dev/fpga0
sff_cpld_reg.addr_7_6=0x15c0
sff_cpld_reg.len_7_6=1
sff_cpld_reg.bit_offset_7_6=6

sff_cpld_reg.mode_8_6=config
sff_cpld_reg.src_8_6=logic_file
sff_cpld_reg.frmt_8_6=bit
sff_cpld_reg.pola_8_6=negative
sff_cpld_reg.fpath_8_6=/dev/fpga0
sff_cpld_reg.addr_8_6=0x15c0
sff_cpld_reg.len_8_6=1
sff_cpld_reg.bit_offset_8_6=7

# lpmode
sff_cpld_reg.mode_1_7=config
sff_cpld_reg.src_1_7=logic_file
sff_cpld_reg.frmt_1_7=bit
sff_cpld_reg.pola_1_7=positive
sff_cpld_reg.fpath_1_7=/dev/fpga0
sff_cpld_reg.addr_1_7=0x15d8
sff_cpld_reg.len_1_7=1
sff_cpld_reg.bit_offset_1_7=0

sff_cpld_reg.mode_2_7=config
sff_cpld_reg.src_2_7=logic_file
sff_cpld_reg.frmt_2_7=bit
sff_cpld_reg.pola_2_7=positive
sff_cpld_reg.fpath_2_7=/dev/fpga0
sff_cpld_reg.addr_2_7=0x15d8
sff_cpld_reg.len_2_7=1
sff_cpld_reg.bit_offset_2_7=1

sff_cpld_reg.mode_3_7=config
sff_cpld_reg.src_3_7=logic_file
sff_cpld_reg.frmt_3_7=bit
sff_cpld_reg.pola_3_7=positive
sff_cpld_reg.fpath_3_7=/dev/fpga0
sff_cpld_reg.addr_3_7=0x15d8
sff_cpld_reg.len_3_7=1
sff_cpld_reg.bit_offset_3_7=2

sff_cpld_reg.mode_4_7=config
sff_cpld_reg.src_4_7=logic_file
sff_cpld_reg.frmt_4_7=bit
sff_cpld_reg.pola_4_7=positive
sff_cpld_reg.fpath_4_7=/dev/fpga0
sff_cpld_reg.addr_4_7=0x15d8
sff_cpld_reg.len_4_7=1
sff_cpld_reg.bit_offset_4_7=3

sff_cpld_reg.mode_5_7=config
sff_cpld_reg.src_5_7=logic_file
sff_cpld_reg.frmt_5_7=bit
sff_cpld_reg.pola_5_7=positive
sff_cpld_reg.fpath_5_7=/dev/fpga0
sff_cpld_reg.addr_5_7=0x15d8
sff_cpld_reg.len_5_7=1
sff_cpld_reg.bit_offset_5_7=4

sff_cpld_reg.mode_6_7=config
sff_cpld_reg.src_6_7=logic_file
sff_cpld_reg.frmt_6_7=bit
sff_cpld_reg.pola_6_7=positive
sff_cpld_reg.fpath_6_7=/dev/fpga0
sff_cpld_reg.addr_6_7=0x15d8
sff_cpld_reg.len_6_7=1
sff_cpld_reg.bit_offset_6_7=5

sff_cpld_reg.mode_7_7=config
sff_cpld_reg.src_7_7=logic_file
sff_cpld_reg.frmt_7_7=bit
sff_cpld_reg.pola_7_7=positive
sff_cpld_reg.fpath_7_7=/dev/fpga0
sff_cpld_reg.addr_7_7=0x15d8
sff_cpld_reg.len_7_7=1
sff_cpld_reg.bit_offset_7_7=6

sff_cpld_reg.mode_8_7=config
sff_cpld_reg.src_8_7=logic_file
sff_cpld_reg.frmt_8_7=bit
sff_cpld_reg.pola_8_7=positive
sff_cpld_reg.fpath_8_7=/dev/fpga0
sff_cpld_reg.addr_8_7=0x15d8
sff_cpld_reg.len_8_7=1
sff_cpld_reg.bit_offset_8_7=7

# present(modprsl)
sff_cpld_reg.mode_1_8=config
sff_cpld_reg.src_1_8=logic_file
sff_cpld_reg.frmt_1_8=bit
sff_cpld_reg.pola_1_8=negative
sff_cpld_reg.fpath_1_8=/dev/fpga0
sff_cpld_reg.addr_1_8=0x15cc
sff_cpld_reg.len_1_8=1
sff_cpld_reg.bit_offset_1_8=0

sff_cpld_reg.mode_2_8=config
sff_cpld_reg.src_2_8=logic_file
sff_cpld_reg.frmt_2_8=bit
sff_cpld_reg.pola_2_8=negative
sff_cpld_reg.fpath_2_8=/dev/fpga0
sff_cpld_reg.addr_2_8=0x15cc
sff_cpld_reg.len_2_8=1
sff_cpld_reg.bit_offset_2_8=1

sff_cpld_reg.mode_3_8=config
sff_cpld_reg.src_3_8=logic_file
sff_cpld_reg.frmt_3_8=bit
sff_cpld_reg.pola_3_8=negative
sff_cpld_reg.fpath_3_8=/dev/fpga0
sff_cpld_reg.addr_3_8=0x15cc
sff_cpld_reg.len_3_8=1
sff_cpld_reg.bit_offset_3_8=2

sff_cpld_reg.mode_4_8=config
sff_cpld_reg.src_4_8=logic_file
sff_cpld_reg.frmt_4_8=bit
sff_cpld_reg.pola_4_8=negative
sff_cpld_reg.fpath_4_8=/dev/fpga0
sff_cpld_reg.addr_4_8=0x15cc
sff_cpld_reg.len_4_8=1
sff_cpld_reg.bit_offset_4_8=3

sff_cpld_reg.mode_5_8=config
sff_cpld_reg.src_5_8=logic_file
sff_cpld_reg.frmt_5_8=bit
sff_cpld_reg.pola_5_8=negative
sff_cpld_reg.fpath_5_8=/dev/fpga0
sff_cpld_reg.addr_5_8=0x15cc
sff_cpld_reg.len_5_8=1
sff_cpld_reg.bit_offset_5_8=4

sff_cpld_reg.mode_6_8=config
sff_cpld_reg.src_6_8=logic_file
sff_cpld_reg.frmt_6_8=bit
sff_cpld_reg.pola_6_8=negative
sff_cpld_reg.fpath_6_8=/dev/fpga0
sff_cpld_reg.addr_6_8=0x15cc
sff_cpld_reg.len_6_8=1
sff_cpld_reg.bit_offset_6_8=5

sff_cpld_reg.mode_7_8=config
sff_cpld_reg.src_7_8=logic_file
sff_cpld_reg.frmt_7_8=bit
sff_cpld_reg.pola_7_8=negative
sff_cpld_reg.fpath_7_8=/dev/fpga0
sff_cpld_reg.addr_7_8=0x15cc
sff_cpld_reg.len_7_8=1
sff_cpld_reg.bit_offset_7_8=6

sff_cpld_reg.mode_8_8=config
sff_cpld_reg.src_8_8=logic_file
sff_cpld_reg.frmt_8_8=bit
sff_cpld_reg.pola_8_8=negative
sff_cpld_reg.fpath_8_8=/dev/fpga0
sff_cpld_reg.addr_8_8=0x15cc
sff_cpld_reg.len_8_8=1
sff_cpld_reg.bit_offset_8_8=7

sff_cpld_reg.mode_9_8=config
sff_cpld_reg.src_9_8=logic_file
sff_cpld_reg.frmt_9_8=bit
sff_cpld_reg.pola_9_8=negative
sff_cpld_reg.fpath_9_8=/dev/fpga0
sff_cpld_reg.addr_9_8=0x12a0
sff_cpld_reg.len_9_8=1
sff_cpld_reg.bit_offset_9_8=0

sff_cpld_reg.mode_10_8=config
sff_cpld_reg.src_10_8=logic_file
sff_cpld_reg.frmt_10_8=bit
sff_cpld_reg.pola_10_8=negative
sff_cpld_reg.fpath_10_8=/dev/fpga0
sff_cpld_reg.addr_10_8=0x12a0
sff_cpld_reg.len_10_8=1
sff_cpld_reg.bit_offset_10_8=1

# Configuration items: reset reg key
# Description: Format reg_key_[main_dev][minor_dev]_[key_index]=[key_value]
# Note:	main_dev 8bit, look wb_main_dev_type_t, 0x03:sfp
#       minor_dev 8bit, look wb_sff_cpld_attr_t, 0x01:power_on, 6:reset 7:lpmod
#       key_index: usr write in s3ip sysfs
#       key_value real write to logic device
reg_key_0x0301_0x00=0xc8
reg_key_0x0301_0x01=0xc9

sysfs_decode_0x0301_0xc8=0
sysfs_decode_0x0301_0xc9=1

# power_on
sff_cpld_reg.mode_1_1=config
sff_cpld_reg.src_1_1=logic_file
sff_cpld_reg.frmt_1_1=byte
sff_cpld_reg.pola_1_1=
sff_cpld_reg.fpath_1_1=/dev/cpld1
sff_cpld_reg.addr_1_1=0x36
sff_cpld_reg.len_1_1=1
sff_cpld_reg.bit_offset_1_1=

sff_cpld_reg.mode_2_1=config
sff_cpld_reg.src_2_1=logic_file
sff_cpld_reg.frmt_2_1=byte
sff_cpld_reg.pola_2_1=
sff_cpld_reg.fpath_2_1=/dev/cpld1
sff_cpld_reg.addr_2_1=0x36
sff_cpld_reg.len_2_1=1
sff_cpld_reg.bit_offset_2_1=

sff_cpld_reg.mode_3_1=config
sff_cpld_reg.src_3_1=logic_file
sff_cpld_reg.frmt_3_1=byte
sff_cpld_reg.pola_3_1=
sff_cpld_reg.fpath_3_1=/dev/cpld1
sff_cpld_reg.addr_3_1=0x36
sff_cpld_reg.len_3_1=1
sff_cpld_reg.bit_offset_3_1=

sff_cpld_reg.mode_4_1=config
sff_cpld_reg.src_4_1=logic_file
sff_cpld_reg.frmt_4_1=byte
sff_cpld_reg.pola_4_1=
sff_cpld_reg.fpath_4_1=/dev/cpld1
sff_cpld_reg.addr_4_1=0x36
sff_cpld_reg.len_4_1=1
sff_cpld_reg.bit_offset_4_1=

sff_cpld_reg.mode_5_1=config
sff_cpld_reg.src_5_1=logic_file
sff_cpld_reg.frmt_5_1=byte
sff_cpld_reg.pola_5_1=
sff_cpld_reg.fpath_5_1=/dev/cpld1
sff_cpld_reg.addr_5_1=0x37
sff_cpld_reg.len_5_1=1
sff_cpld_reg.bit_offset_5_1=

sff_cpld_reg.mode_6_1=config
sff_cpld_reg.src_6_1=logic_file
sff_cpld_reg.frmt_6_1=byte
sff_cpld_reg.pola_6_1=
sff_cpld_reg.fpath_6_1=/dev/cpld1
sff_cpld_reg.addr_6_1=0x37
sff_cpld_reg.len_6_1=1
sff_cpld_reg.bit_offset_6_1=

sff_cpld_reg.mode_7_1=config
sff_cpld_reg.src_7_1=logic_file
sff_cpld_reg.frmt_7_1=byte
sff_cpld_reg.pola_7_1=
sff_cpld_reg.fpath_7_1=/dev/cpld1
sff_cpld_reg.addr_7_1=0x37
sff_cpld_reg.len_7_1=1
sff_cpld_reg.bit_offset_7_1=

sff_cpld_reg.mode_8_1=config
sff_cpld_reg.src_8_1=logic_file
sff_cpld_reg.frmt_8_1=byte
sff_cpld_reg.pola_8_1=
sff_cpld_reg.fpath_8_1=/dev/cpld1
sff_cpld_reg.addr_8_1=0x37
sff_cpld_reg.len_8_1=1
sff_cpld_reg.bit_offset_8_1=

sff_cpld_reg.mode_9_1=config
sff_cpld_reg.src_9_1=logic_file
sff_cpld_reg.frmt_9_1=byte
sff_cpld_reg.pola_9_1=
sff_cpld_reg.fpath_9_1=/dev/cpl1
sff_cpld_reg.addr_9_1=0x38
sff_cpld_reg.len_9_1=1
sff_cpld_reg.bit_offset_9_1=

sff_cpld_reg.mode_10_1=config
sff_cpld_reg.src_10_1=logic_file
sff_cpld_reg.frmt_10_1=byte
sff_cpld_reg.pola_10_1=
sff_cpld_reg.fpath_10_1=/dev/cpl1
sff_cpld_reg.addr_10_1=0x38
sff_cpld_reg.len_10_1=1
sff_cpld_reg.bit_offset_10_1=

#optoe type
sff_optoe_type.mode_1=config
sff_optoe_type.int_cons_1=
sff_optoe_type.src_1=file
sff_optoe_type.frmt_1=byte
sff_optoe_type.fpath_1=/sys/bus/i2c/devices/48-0050/dev_class
sff_optoe_type.addr_1=0
sff_optoe_type.len_1=1
sff_optoe_type.bit_offset_1=

sff_optoe_type.mode_2=config
sff_optoe_type.int_cons_2=
sff_optoe_type.src_2=file
sff_optoe_type.frmt_2=byte
sff_optoe_type.fpath_2=/sys/bus/i2c/devices/49-0050/dev_class
sff_optoe_type.addr_2=0
sff_optoe_type.len_2=1
sff_optoe_type.bit_offset_2=

sff_optoe_type.mode_3=config
sff_optoe_type.int_cons_3=
sff_optoe_type.src_3=file
sff_optoe_type.frmt_3=byte
sff_optoe_type.fpath_3=/sys/bus/i2c/devices/50-0050/dev_class
sff_optoe_type.addr_3=0
sff_optoe_type.len_3=1
sff_optoe_type.bit_offset_3=

sff_optoe_type.mode_4=config
sff_optoe_type.int_cons_4=
sff_optoe_type.src_4=file
sff_optoe_type.frmt_4=byte
sff_optoe_type.fpath_4=/sys/bus/i2c/devices/51-0050/dev_class
sff_optoe_type.addr_4=0
sff_optoe_type.len_4=1
sff_optoe_type.bit_offset_4=

sff_optoe_type.mode_5=config
sff_optoe_type.int_cons_5=
sff_optoe_type.src_5=file
sff_optoe_type.frmt_5=byte
sff_optoe_type.fpath_5=/sys/bus/i2c/devices/52-0050/dev_class
sff_optoe_type.addr_5=0
sff_optoe_type.len_5=1
sff_optoe_type.bit_offset_5=

sff_optoe_type.mode_6=config
sff_optoe_type.int_cons_6=
sff_optoe_type.src_6=file
sff_optoe_type.frmt_6=byte
sff_optoe_type.fpath_6=/sys/bus/i2c/devices/53-0050/dev_class
sff_optoe_type.addr_6=0
sff_optoe_type.len_6=1
sff_optoe_type.bit_offset_6=

sff_optoe_type.mode_7=config
sff_optoe_type.int_cons_7=
sff_optoe_type.src_7=file
sff_optoe_type.frmt_7=byte
sff_optoe_type.fpath_7=/sys/bus/i2c/devices/54-0050/dev_class
sff_optoe_type.addr_7=0
sff_optoe_type.len_7=1
sff_optoe_type.bit_offset_7=

sff_optoe_type.mode_8=config
sff_optoe_type.int_cons_8=
sff_optoe_type.src_8=file
sff_optoe_type.frmt_8=byte
sff_optoe_type.fpath_8=/sys/bus/i2c/devices/55-0050/dev_class
sff_optoe_type.addr_8=0
sff_optoe_type.len_8=1
sff_optoe_type.bit_offset_8=

sff_optoe_type.mode_9=config
sff_optoe_type.int_cons_9=
sff_optoe_type.src_9=file
sff_optoe_type.frmt_9=byte
sff_optoe_type.fpath_9=/sys/bus/i2c/devices/56-0050/dev_class
sff_optoe_type.addr_9=0
sff_optoe_type.len_9=1
sff_optoe_type.bit_offset_9=

sff_optoe_type.mode_10=config
sff_optoe_type.int_cons_10=
sff_optoe_type.src_10=file
sff_optoe_type.frmt_10=byte
sff_optoe_type.fpath_10=/sys/bus/i2c/devices/57-0050/dev_class
sff_optoe_type.addr_10=0
sff_optoe_type.len_10=1
sff_optoe_type.bit_offset_10=

# interrupt
sff_cpld_reg.mode_1_9=config
sff_cpld_reg.src_1_9=logic_file
sff_cpld_reg.frmt_1_9=bit
sff_cpld_reg.pola_1_9=negative
sff_cpld_reg.fpath_1_9=/dev/fpga0
sff_cpld_reg.addr_1_9=0x1580
sff_cpld_reg.len_1_9=1
sff_cpld_reg.bit_offset_1_9=0

sff_cpld_reg.mode_2_9=config
sff_cpld_reg.src_2_9=logic_file
sff_cpld_reg.frmt_2_9=bit
sff_cpld_reg.pola_2_9=negative
sff_cpld_reg.fpath_2_9=/dev/fpga0
sff_cpld_reg.addr_2_9=0x1580
sff_cpld_reg.len_2_9=1
sff_cpld_reg.bit_offset_2_9=1

sff_cpld_reg.mode_3_9=config
sff_cpld_reg.src_3_9=logic_file
sff_cpld_reg.frmt_3_9=bit
sff_cpld_reg.pola_3_9=negative
sff_cpld_reg.fpath_3_9=/dev/fpga0
sff_cpld_reg.addr_3_9=0x1580
sff_cpld_reg.len_3_9=1
sff_cpld_reg.bit_offset_3_9=2

sff_cpld_reg.mode_4_9=config
sff_cpld_reg.src_4_9=logic_file
sff_cpld_reg.frmt_4_9=bit
sff_cpld_reg.pola_4_9=negative
sff_cpld_reg.fpath_4_9=/dev/fpga0
sff_cpld_reg.addr_4_9=0x1580
sff_cpld_reg.len_4_9=1
sff_cpld_reg.bit_offset_4_9=3

sff_cpld_reg.mode_5_9=config
sff_cpld_reg.src_5_9=logic_file
sff_cpld_reg.frmt_5_9=bit
sff_cpld_reg.pola_5_9=negative
sff_cpld_reg.fpath_5_9=/dev/fpga0
sff_cpld_reg.addr_5_9=0x1580
sff_cpld_reg.len_5_9=1
sff_cpld_reg.bit_offset_5_9=4

sff_cpld_reg.mode_6_9=config
sff_cpld_reg.src_6_9=logic_file
sff_cpld_reg.frmt_6_9=bit
sff_cpld_reg.pola_6_9=negative
sff_cpld_reg.fpath_6_9=/dev/fpga0
sff_cpld_reg.addr_6_9=0x1580
sff_cpld_reg.len_6_9=1
sff_cpld_reg.bit_offset_6_9=5

sff_cpld_reg.mode_7_9=config
sff_cpld_reg.src_7_9=logic_file
sff_cpld_reg.frmt_7_9=bit
sff_cpld_reg.pola_7_9=negative
sff_cpld_reg.fpath_7_9=/dev/fpga0
sff_cpld_reg.addr_7_9=0x1580
sff_cpld_reg.len_7_9=1
sff_cpld_reg.bit_offset_7_9=6

sff_cpld_reg.mode_8_9=config
sff_cpld_reg.src_8_9=logic_file
sff_cpld_reg.frmt_8_9=bit
sff_cpld_reg.pola_8_9=negative
sff_cpld_reg.fpath_8_9=/dev/fpga0
sff_cpld_reg.addr_8_9=0x1580
sff_cpld_reg.len_8_9=1
sff_cpld_reg.bit_offset_8_9=7

# port led
led_status.mode_13_1=config
led_status.src_13_1=logic_file
led_status.frmt_13_1=bit
led_status.pola_13_1=positive
led_status.fpath_13_1=/dev/fpga0
led_status.addr_13_1=0x1740
led_status.len_13_1=3
led_status.bit_offset_13_1=0

led_status.mode_13_2=config
led_status.src_13_2=logic_file
led_status.frmt_13_2=bit
led_status.pola_13_2=positive
led_status.fpath_13_2=/dev/fpga0
led_status.addr_13_2=0x1744
led_status.len_13_2=3
led_status.bit_offset_13_2=0

led_status.mode_13_3=config
led_status.src_13_3=logic_file
led_status.frmt_13_3=bit
led_status.pola_13_3=positive
led_status.fpath_13_3=/dev/fpga0
led_status.addr_13_3=0x1748
led_status.len_13_3=3
led_status.bit_offset_13_3=0

led_status.mode_13_4=config
led_status.src_13_4=logic_file
led_status.frmt_13_4=bit
led_status.pola_13_4=positive
led_status.fpath_13_4=/dev/fpga0
led_status.addr_13_4=0x174c
led_status.len_13_4=3
led_status.bit_offset_13_4=0

led_status.mode_13_5=config
led_status.src_13_5=logic_file
led_status.frmt_13_5=bit
led_status.pola_13_5=positive
led_status.fpath_13_5=/dev/fpga0
led_status.addr_13_5=0x1750
led_status.len_13_5=3
led_status.bit_offset_13_5=0

led_status.mode_13_6=config
led_status.src_13_6=logic_file
led_status.frmt_13_6=bit
led_status.pola_13_6=positive
led_status.fpath_13_6=/dev/fpga0
led_status.addr_13_6=0x1754
led_status.len_13_6=3
led_status.bit_offset_13_6=0

led_status.mode_13_7=config
led_status.src_13_7=logic_file
led_status.frmt_13_7=bit
led_status.pola_13_7=positive
led_status.fpath_13_7=/dev/fpga0
led_status.addr_13_7=0x1758
led_status.len_13_7=3
led_status.bit_offset_13_7=0

led_status.mode_13_8=config
led_status.src_13_8=logic_file
led_status.frmt_13_8=bit
led_status.pola_13_8=positive
led_status.fpath_13_8=/dev/fpga0
led_status.addr_13_8=0x175c
led_status.len_13_8=3
led_status.bit_offset_13_8=0

# sfp port led
led_status_decode_13_0=9
led_status_decode_13_1=7
led_status_decode_13_2=3
led_status_decode_13_3=5
led_status_decode_13_4=1
led_status_decode_13_5=6
led_status_decode_13_6=2
led_status_decode_13_7=0

# Enable the feature to automatically set to low power mode when the port is plugged or unplugged.
multi_cmd.mode_0x5100_0x00=config
multi_cmd.src_0x5100_0x00=logic_file
multi_cmd.frmt_0x5100_0x00=bit
multi_cmd.pola_0x5100_0x00=positive
multi_cmd.fpath_0x5100_0x00=/dev/fpga0
multi_cmd.addr_0x5100_0x00=0x17fc
multi_cmd.len_0x5100_0x00=1
multi_cmd.bit_offset_0x5100_0x00=0
multi_cmd.int_cons_0x5100_0x00=0x00
multi_cmd.int_extra1_0x5100_0x00=0

#multi_cmd num
multi_cmd_num_0x5100=1

multi_cmd.mode_0x5101_0x00=config
multi_cmd.src_0x5101_0x00=logic_file
multi_cmd.frmt_0x5101_0x00=bit
multi_cmd.pola_0x5101_0x00=positive
multi_cmd.fpath_0x5101_0x00=/dev/fpga0
multi_cmd.addr_0x5101_0x00=0x17fc
multi_cmd.len_0x5101_0x00=1
multi_cmd.bit_offset_0x5101_0x00=0
multi_cmd.int_cons_0x5101_0x00=0xff
multi_cmd.int_extra1_0x5101_0x00=0

#multi_cmd num
multi_cmd_num_0x5101=1