#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# Set item: System E2 i2c bus address
# Description: Format other_i2c_dev.bus_[main_dev]_[minor_dev] other_i2c_dev.addr_[main_dev]_[minor_dev],
#			.bus is configuration item corresponds to the bus number (/dev/i2c-bus)
#			.addr is address of the device corresponding to the configuration item on the bus
# Note: 	main_dev look rg_main_dev_type_t definition, main board is 0, minor_dev is 0
other_i2c_dev.bus_0_0=0
other_i2c_dev.addr_0_0=0x57

# Configuration item: System E2 path
eeprom_path_0_0=/sys/bus/i2c/devices/0-0057/eeprom

# Configuration item: System E2 size
eeprom_size_0_0=256

# Configuration item: the number of CPLD
# Description: Format  dev_num_[main_dev]_[minor_dev]
# Note: main_dev: indicates that the mainboard is 0, the subPLD is 5, and the minor_dev: CPLD is 8
dev_num_0_8=4

# Configuration item: Name of each cpld
# Description: Format  cpld_name_[cpld_id] cpld_id is cpld number,start with 1
# Note: This field is required
cpld_name_0_0=CPU_CPLD
cpld_name_0_1=MAC_MAIN_CPLD
cpld_name_0_2=MAC_SECOND_CPLD
cpld_name_0_3=RAS_CPLD


# Configuration item: Model of each cpld
# Description: Format  cpld_type_[cpld_id] cpld_idis cpld number,start with 1
# Note: This field is required
cpld_type_0_0=EF2L45BG256B
cpld_type_0_1=EF2L45BG256B
cpld_type_0_2=EF2L45BG256B
cpld_type_0_3=EF2L45BG256B

# Configuration item: Version register of each CPLD
# Description: Format  cpld_version_[cpld_id] cpld_id is cpld number,start with 1
# Note: This field is required
cpld_version.mode_0_0=config
cpld_version.int_cons_0_0=
cpld_version.src_0_0=file
cpld_version.frmt_0_0=num_bytes
cpld_version.pola_0_0=
cpld_version.fpath_0_0=/dev/cpld0
cpld_version.addr_0_0=0x00000000
cpld_version.len_0_0=4
cpld_version.bit_offset_0_0=

cpld_version.mode_0_1=config
cpld_version.int_cons_0_1=
cpld_version.src_0_1=file
cpld_version.frmt_0_1=num_bytes
cpld_version.pola_0_1=
cpld_version.fpath_0_1=/dev/cpld1
cpld_version.addr_0_1=0x00002000
cpld_version.len_0_1=4
cpld_version.bit_offset_0_1=

cpld_version.mode_0_2=config
cpld_version.int_cons_0_2=
cpld_version.src_0_2=file
cpld_version.frmt_0_2=num_bytes
cpld_version.pola_0_2=
cpld_version.fpath_0_2=/dev/cpld1
cpld_version.addr_0_2=0x00004000
cpld_version.len_0_2=4
cpld_version.bit_offset_0_2=

cpld_version.mode_0_3=config
cpld_version.int_cons_0_3=
cpld_version.src_0_3=file
cpld_version.frmt_0_3=num_bytes
cpld_version.pola_0_3=
cpld_version.fpath_0_3=/dev/cpld1
cpld_version.addr_0_3=0x00006090
cpld_version.len_0_3=4
cpld_version.bit_offset_0_3=

# Configuration item: Test register for each CPLD
# Description: Format  cpld_test_reg_[cpld_id] cpld_id is cpld number,start with 1
# Note: This field is required
cpld_test_reg.mode_0_0=config
cpld_test_reg.int_cons_0_0=
cpld_test_reg.src_0_0=file
cpld_test_reg.frmt_0_0=byte
cpld_test_reg.pola_0_0=
cpld_test_reg.fpath_0_0=/dev/cpld0
cpld_test_reg.addr_0_0=0x00000005
cpld_test_reg.len_0_0=1
cpld_test_reg.bit_offset_0_0=

cpld_test_reg.mode_0_1=config
cpld_test_reg.int_cons_0_1=
cpld_test_reg.src_0_1=file
cpld_test_reg.frmt_0_1=byte
cpld_test_reg.pola_0_1=
cpld_test_reg.fpath_0_1=/dev/cpld1
cpld_test_reg.addr_0_1=0x0000200f
cpld_test_reg.len_0_1=1
cpld_test_reg.bit_offset_0_1=

cpld_test_reg.mode_0_2=config
cpld_test_reg.int_cons_0_2=
cpld_test_reg.src_0_2=file
cpld_test_reg.frmt_0_2=byte
cpld_test_reg.pola_0_2=
cpld_test_reg.fpath_0_2=/dev/cpld1
cpld_test_reg.addr_0_2=0x00004004
cpld_test_reg.len_0_2=1
cpld_test_reg.bit_offset_0_2=

cpld_test_reg.mode_0_3=config
cpld_test_reg.int_cons_0_3=
cpld_test_reg.src_0_3=file
cpld_test_reg.frmt_0_3=byte
cpld_test_reg.pola_0_3=
cpld_test_reg.fpath_0_3=/dev/cpld1
cpld_test_reg.addr_0_3=0x0000609f
cpld_test_reg.len_0_3=1
cpld_test_reg.bit_offset_0_3=
