#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# Configuration items:	E2 i2c bus address
# Description: Format other_i2c_dev.bus_[main_dev]_[minor_dev] other_i2c_dev.addr_[main_dev]_[minor_dev],
#			.bus is configuration item corresponds to the bus number (/dev/i2c-bus)
#			.addr is address of the device corresponding to the configuration item on the bus
# Note:	main_dev is defined in rg_main_dev_type_t. mainboard is 0, fan is 1, dev_index is device index
other_i2c_dev.bus_1_1=66
other_i2c_dev.addr_1_1=0x53
other_i2c_dev.bus_1_2=67
other_i2c_dev.addr_1_2=0x53
other_i2c_dev.bus_1_3=68
other_i2c_dev.addr_1_3=0x53
other_i2c_dev.bus_1_4=69
other_i2c_dev.addr_1_4=0x53

# Configuration items:	Fan dependent constant
# Description: Format dev_num_[main_dev]_[minor_dev]
# Note:	main_dev,Fan is 1 minor_dev, 0: does not exist, 5: motor

# Number of fans
dev_num_1_0=4

# Number of motors
dev_num_1_5=1

# Configuration items:	Product fan E2 format
# Description: Format fan_e2_mode
# Note:	required
fan_e2_mode=tlv

# Configuration items:	Mode of reading fan E2
# Description: Format fan_sysfs_name
# Note:	If not configured, it is read by i2c, otherwise it is read by sysfs
fan_sysfs_name=eeprom

# Configuration items:	Fan air duct type
# Filling instructions: fan_direction_[direction]_[index]
# direction is  air duct 0:F2B 1:B2F, indexstart with 1
# Note:	required
fan_direction_1_1=0
fan_direction_2_1=0
fan_direction_3_1=1

# Configuration items:	Fan status CPLD register address
# Description: Format dev_present_status_[main_dev_id][fan_index] fan_indexstart with 1
# Note:	fan main_dev_id is 1
dev_present_status.mode_1_1=config
dev_present_status.src_1_1=file
dev_present_status.frmt_1_1=bit
dev_present_status.pola_1_1=negative
dev_present_status.fpath_1_1=/dev/cpld1
dev_present_status.addr_1_1=0x00002050
dev_present_status.len_1_1=1
dev_present_status.bit_offset_1_1=0

dev_present_status.mode_1_2=config
dev_present_status.src_1_2=file
dev_present_status.frmt_1_2=bit
dev_present_status.pola_1_2=negative
dev_present_status.fpath_1_2=/dev/cpld1
dev_present_status.addr_1_2=0x00002050
dev_present_status.len_1_2=1
dev_present_status.bit_offset_1_2=1

dev_present_status.mode_1_3=config
dev_present_status.src_1_3=file
dev_present_status.frmt_1_3=bit
dev_present_status.pola_1_3=negative
dev_present_status.fpath_1_3=/dev/cpld1
dev_present_status.addr_1_3=0x00002050
dev_present_status.len_1_3=1
dev_present_status.bit_offset_1_3=2

dev_present_status.mode_1_4=config
dev_present_status.src_1_4=file
dev_present_status.frmt_1_4=bit
dev_present_status.pola_1_4=negative
dev_present_status.fpath_1_4=/dev/cpld1
dev_present_status.addr_1_4=0x00002050
dev_present_status.len_1_4=1
dev_present_status.bit_offset_1_4=3

# Configuration items:	Fan rotation status CPLD register address
# Description: Format fan_roll_status_[fan_id]_[motor_id] fan_idstart with 1, motor_idstart with 1
# Note:	required
fan_roll_status.mode_1_1=config
fan_roll_status.src_1_1=file
fan_roll_status.frmt_1_1=bit
fan_roll_status.fpath_1_1=/dev/cpld1
fan_roll_status.addr_1_1=0x00002052
fan_roll_status.len_1_1=1
fan_roll_status.bit_offset_1_1=0

fan_roll_status.mode_2_1=config
fan_roll_status.src_2_1=file
fan_roll_status.frmt_2_1=bit
fan_roll_status.fpath_2_1=/dev/cpld1
fan_roll_status.addr_2_1=0x00002052
fan_roll_status.len_2_1=1
fan_roll_status.bit_offset_2_1=1

fan_roll_status.mode_3_1=config
fan_roll_status.src_3_1=file
fan_roll_status.frmt_3_1=bit
fan_roll_status.fpath_3_1=/dev/cpld1
fan_roll_status.addr_3_1=0x00002052
fan_roll_status.len_3_1=1
fan_roll_status.bit_offset_3_1=2

fan_roll_status.mode_4_1=config
fan_roll_status.src_4_1=file
fan_roll_status.frmt_4_1=bit
fan_roll_status.fpath_4_1=/dev/cpld1
fan_roll_status.addr_4_1=0x00002052
fan_roll_status.len_4_1=1
fan_roll_status.bit_offset_4_1=3

# Configuration items:	Fan speed CPLD register address
# Description: Format fan_speed_[fan_id]_[motor_id] fan_idstart with 1, motor_idstart with 1
# Note:	required
fan_speed.mode_1_1=config
fan_speed.int_cons_1_1=
fan_speed.src_1_1=file
fan_speed.frmt_1_1=num_bytes
fan_speed.pola_1_1=negative
fan_speed.fpath_1_1=/dev/cpld1
fan_speed.addr_1_1=0x00002070
fan_speed.len_1_1=2
fan_speed.bit_offset_1_1=

fan_speed.mode_2_1=config
fan_speed.int_cons_2_1=
fan_speed.src_2_1=file
fan_speed.frmt_2_1=num_bytes
fan_speed.pola_2_1=negative
fan_speed.fpath_2_1=/dev/cpld1
fan_speed.addr_2_1=0x00002072
fan_speed.len_2_1=2
fan_speed.bit_offset_2_1=

fan_speed.mode_3_1=config
fan_speed.int_cons_3_1=
fan_speed.src_3_1=file
fan_speed.frmt_3_1=num_bytes
fan_speed.pola_3_1=negative
fan_speed.fpath_3_1=/dev/cpld1
fan_speed.addr_3_1=0x00002074
fan_speed.len_3_1=2
fan_speed.bit_offset_3_1=

fan_speed.mode_4_1=config
fan_speed.int_cons_4_1=
fan_speed.src_4_1=file
fan_speed.frmt_4_1=num_bytes
fan_speed.pola_4_1=negative
fan_speed.fpath_4_1=/dev/cpld1
fan_speed.addr_4_1=0x00002076
fan_speed.len_4_1=2
fan_speed.bit_offset_4_1=

# Configuration items:	Fan speed level CPLD register address
# Description: Format fan_ratio_[fan_id]_[motor_id] fan_idstart with 1, motor_idstart with 1
# Note:	required
fan_ratio.mode_1=config
fan_ratio.int_cons_1=
fan_ratio.src_1=file
fan_ratio.frmt_1=byte
fan_ratio.pola_1=
fan_ratio.fpath_1=/dev/cpld1
fan_ratio.addr_1=0x00002060
fan_ratio.len_1=1
fan_ratio.bit_offset_1=

fan_ratio.mode_2=config
fan_ratio.int_cons_2=
fan_ratio.src_2=file
fan_ratio.frmt_2=byte
fan_ratio.pola_2=
fan_ratio.fpath_2=/dev/cpld1
fan_ratio.addr_2=0x00002061
fan_ratio.len_2=1
fan_ratio.bit_offset_2=

fan_ratio.mode_3=config
fan_ratio.int_cons_3=
fan_ratio.src_3=file
fan_ratio.frmt_3=byte
fan_ratio.pola_3=
fan_ratio.fpath_3=/dev/cpld1
fan_ratio.addr_3=0x00002062
fan_ratio.len_3=1
fan_ratio.bit_offset_3=

fan_ratio.mode_4=config
fan_ratio.int_cons_4=
fan_ratio.src_4=file
fan_ratio.frmt_4=byte
fan_ratio.pola_4=
fan_ratio.fpath_4=/dev/cpld1
fan_ratio.addr_4=0x00002063
fan_ratio.len_4=1
fan_ratio.bit_offset_4=

# Configuration items:	the number of fan names displayed in the product
# Description: Format dev_num_[main_dev]_[minor_dev]
# Note:	main_dev,FAN is 1, minor_dev, 7: The number of fan names displayed
dev_num_1_7=3

# Configuration items:	number of fan types supported by each fan name
# Description: Format fan_type_num_[fan_id]
# Note:	fan_id start with 1
fan_type_num_1=1
fan_type_num_2=1
fan_type_num_3=1

# Configuration items: product Fan type Name
# Description: Format fan_name_[index1]_[index2]
# Note:	index1 indicates the ID of the fan that is displayed, start with 1, 
# index2 Indicates different fan names with the same ID, start with 1
fan_name_1_1=M1EFAN III-F
fan_name_2_1=M1EFAN II-F
fan_name_3_1=M1EFAN IV-R

# Configuration items:	fan name is displayed
# Description: Format decode_fan_name_[index]
# Note:	index  indicates the ID of the fan that is displayed
decode_fan_name_1=M1EFAN III-F
decode_fan_name_2=M1EFAN II-F
decode_fan_name_3=M1EFAN IV-R

#Configuration item: Minimum fan speed threshold
#Instructions: Format: fan_threshold_[257]_[index]
#Note: 0x101 in hexadecimal represents the minimum speed threshold of the fan.
#Index represents (index << 4) & motor ID in the fan product name, and the motor ID starts from 1.
fan_threshold_257_17=0
fan_threshold_257_33=0

#Configuration item: Maximum fan speed threshold
#Instructions: Format: fan_threshold_[513]_[index]
#Note: 0x201 in hexadecimal represents the maximum speed threshold of the fan.
#Index represents (index << 4) & motor ID in the fan product name, and the motor ID starts from 1.
fan_threshold_513_17=22590
fan_threshold_513_33=22590

#Configuration item: Original value of the displayed fan LED status
#Instructions: Format: led_status_[index1][index2]
#Note: Index1 represents the LED type ID, which is 10 for fans. Index2 represents the fan ID, starting from 1.
led_status.mode_10_1=config
led_status.src_10_1=file
led_status.frmt_10_1=bit
led_status.fpath_10_1=/dev/cpld1
led_status.addr_10_1=0x00002055
led_status.len_10_1=2
led_status.bit_offset_10_1=0

led_status.mode_10_2=config
led_status.src_10_2=file
led_status.frmt_10_2=bit
led_status.fpath_10_2=/dev/cpld1
led_status.addr_10_2=0x00002055
led_status.len_10_2=2
led_status.bit_offset_10_2=2

led_status.mode_10_3=config
led_status.src_10_3=file
led_status.frmt_10_3=bit
led_status.fpath_10_3=/dev/cpld1
led_status.addr_10_3=0x00002055
led_status.len_10_3=2
led_status.bit_offset_10_3=4

led_status.mode_10_4=config
led_status.src_10_4=file
led_status.frmt_10_4=bit
led_status.fpath_10_4=/dev/cpld1
led_status.addr_10_4=0x00002055
led_status.len_10_4=2
led_status.bit_offset_10_4=6

#Configuration item: Displayed fan LED status
#Instructions: Format: led_status_decode_[index1][index2]
#Note: Index1 represents the LED type ID, which is 10 for fans. Index2 represents the original value of the fan LED status.
#The values on the right side of the equal sign are: 0 for off, 1 for green, 2 for yellow, 3 for red, 4 for blue, 5 for green flashing, 6 for yellow flashing, and 7 for red flashing.
led_status_decode_10_3=0
led_status_decode_10_1=1
led_status_decode_10_0=2
led_status_decode_10_2=3