#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of configuration items and invalid Spaces must not be added between configuration items
# 2. The configuration item value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in in a specific product. In order to facilitate other products to copy and fill in, do not delete them
# 4. Configure items

# Configuration item: cpld device i2c bus address
# Description: Format cpld_i2c_dev.bus_[cpld_slot]_[cpld_id] cpld_i2c_dev.addr_[cpld_slot]_[cpld_id]
#			All cpld numbers of each product can be customized,The number is reflected in the upper eight digits of the offset address of the cpld device
#			cpld_slot: 1:slot-card1, 2:slot-card2, 3:slot-card3, 4:slot-card4,5:Fan adapter,
#			cpld_id: 0:CPLD_A 1:CPLD_B
#			.bus configuration item corresponds to the bus number(/dev/i2c-bus)
#			.addr address of the device corresponding to the configuration item on the bus
# Note: This field is optional. This field is not required for a cpld that does not have I2C access
cpld_i2c_dev.bus_0_2=18
cpld_i2c_dev.addr_0_2=0x30
cpld_i2c_dev.bus_0_3=19
cpld_i2c_dev.addr_0_3=0x30

# Configuration item: cpld lpc address
# Description: Format  cpld_lpc_addr_[cpld_slot]_[cpld_id]
#			All cpld numbers of each product can be customized,The number is reflected in the upper eight digits of the offset address of the cpld device
#			cpld_id: 0:X86_CPLD, 1:MAC_CPLDA, 2:MAC_CPLDB
# Note:	This parameter is optional. If the cpld is not accessed by the lpc, do not enter this parameter
cpld_lpc_dev_0_0=0xa00
cpld_lpc_dev_0_1=0x900

# Configuration item: Access mode for each cpld of the board (LPC/I2C)
# Description: Format  mode_cpld_[cpld_slot][cpld_id]=lpc/i2c, cpld_id is cpld number
# Note:	required
mode_cpld_0_0=lpc
mode_cpld_0_1=lpc
mode_cpld_0_2=i2c
mode_cpld_0_3=i2c

# Configuration item: Number of CPLD devices
# Description: Format  dev_num_[main_dev]_[minor_dev]
# Note:	main_dev,CPLD is 4, minor_dev, 0:inexistence
dev_num_4_0=4
