version=1
firmware_binary_path=/usr/share/sonic/hwsku/blackhawk.lz4.fw.1.5.5.B1.bin
# 待看哪里取
plp_fw_ver=0x3fe5b1
# 待看哪里取
plp_fw_crc=0x9aa7
# slot数量，线卡数量
plp_slot_num=1

# 0:mac 1:cpu 2:fpga
plp_mdio_accs_type:0=0
plp_mdio_accs_type:1=0
plp_mdio_accs_type:2=0
plp_mdio_accs_type:3=0

# phy的mdio地址列表？每片slice都要
plp_phy_addrs=0x2,0x3,0x10006,0x10007,0x2000a,0x2000b,0x3000e,0x3000f

# port 9 10
# phy 1 slice 0
plp_phy_unit_id:0x2=0
# 线卡id 白盒没有
plp_phy_card_id:0x2=0
# mdio_id 0或者1
plp_phy_mdio_id:0x2=0

# 这是实际是 c45标识+devtype，c45应该去掉，只留devtype。 creso phy 固定为1。
plp_phy_reg_offset:0x2=0

plp_phy_init_profile_id:0x2=1

# 拆分？怎么和mac侧端口号关联
plp_profile_1_init_lanes:0x2=40,41,42,43
# 怎么和ctc的gport id 关联
plp_profile_1_init_ports:0x2=40,42
# gearbox sys侧2x50，line侧4x25是怎么配置？应该是sys侧的lane数
plp_profile_1_init_ports_lane_num:0x2=2,2
plp_profile_1_init_speed_mode:0x2=100000,100000

# 0:CR_PORT_RETIMER, 1:CR_PORT_BITMUX, 2:CR_PORT_GEARBOX
plp_profile_1_speed_100000_split_2.0:connection_mode=2
# 0:    CR_PMODE_SERDES,  //!< basic Lane only mode
# 1:    CR_PMODE_PCS,     //!< serdes + pcs used (no macsec)
# 2:    CR_PMODE_MACSEC   //!< macsec all blocks used
plp_profile_1_speed_100000_split_2.0:port_mode=0
# 不知道干啥的
plp_profile_1_speed_100000_split_2.0:flags=0
# 0:CR_FEC_NONE, 1:CR_FEC_FIRE_CODE, 2:CR_FEC_RS_528, 3:CR_FEC_RS_544
plp_profile_1_speed_100000_split_2.0:host_fec_type=3
plp_profile_1_speed_100000_split_2.0:line_fec_type=0
plp_profile_1_speed_100000_split_2.0:host_no_of_lanes=2
plp_profile_1_speed_100000_split_2.0:line_no_of_lanes=4
# 会有个+8的偏移？host:0-7,line:8-15
plp_profile_1_speed_100000_split_2.0:line_start_lane=8
plp_profile_1_speed_100000_split_2.0:host_start_lane=0

plp_profile_1_speed_100000_split_2.2:connection_mode=2
plp_profile_1_speed_100000_split_2.2:port_mode=0
plp_profile_1_speed_100000_split_2.2:flags=0
plp_profile_1_speed_100000_split_2.2:host_fec_type=3
plp_profile_1_speed_100000_split_2.2:line_fec_type=0
plp_profile_1_speed_100000_split_2.2:host_no_of_lanes=2
plp_profile_1_speed_100000_split_2.2:line_no_of_lanes=4
plp_profile_1_speed_100000_split_2.2:line_start_lane=12
plp_profile_1_speed_100000_split_2.2:host_start_lane=4


plp_tx_polarity_flip_host:0x2=0x0
plp_rx_polarity_flip_host:0x2=0x0
plp_tx_polarity_flip_line:0x2=0x0
plp_rx_polarity_flip_line:0x2=0x0

# port 11 12
plp_phy_unit_id:0x3=0
plp_phy_card_id:0x3=0
plp_phy_mdio_id:0x3=0
plp_phy_reg_offset:0x3=0
plp_phy_init_profile_id:0x3=2

plp_profile_2_init_lanes:0x3=44,45,46,47
plp_profile_2_init_ports:0x3=44,46
plp_profile_2_init_ports_lane_num:0x3=2,2
plp_profile_2_init_speed_mode:0x3=100000,100000

plp_profile_2_speed_100000_split_2.0:connection_mode=2
plp_profile_2_speed_100000_split_2.0:port_mode=0
plp_profile_2_speed_100000_split_2.0:flags=0
plp_profile_2_speed_100000_split_2.0:host_fec_type=3
plp_profile_2_speed_100000_split_2.0:line_fec_type=0
plp_profile_2_speed_100000_split_2.0:host_no_of_lanes=2
plp_profile_2_speed_100000_split_2.0:line_no_of_lanes=4
plp_profile_2_speed_100000_split_2.0:line_start_lane=8
plp_profile_2_speed_100000_split_2.0:host_start_lane=0

plp_profile_2_speed_100000_split_2.2:connection_mode=2
plp_profile_2_speed_100000_split_2.2:port_mode=0
plp_profile_2_speed_100000_split_2.2:flags=0
plp_profile_2_speed_100000_split_2.2:host_fec_type=3
plp_profile_2_speed_100000_split_2.2:line_fec_type=0
plp_profile_2_speed_100000_split_2.2:host_no_of_lanes=2
plp_profile_2_speed_100000_split_2.2:line_no_of_lanes=4
plp_profile_2_speed_100000_split_2.2:line_start_lane=12
plp_profile_2_speed_100000_split_2.2:host_start_lane=2

plp_tx_polarity_flip_host:0x3=0x0
plp_rx_polarity_flip_host:0x3=0x0
plp_tx_polarity_flip_line:0x3=0x0
plp_rx_polarity_flip_line:0x3=0x0

# port 13 14
plp_phy_unit_id:0x10006=0
plp_phy_card_id:0x10006=0
plp_phy_mdio_id:0x10006=1
plp_phy_reg_offset:0x10006=0

plp_phy_init_profile_id:0x10006=3

plp_profile_3_init_lanes:0x10006=32,33,34,35
plp_profile_3_init_ports:0x10006=32,34
plp_profile_3_init_ports_lane_num:0x10006=2,2
plp_profile_3_init_speed_mode:0x10006=100000,100000

plp_profile_3_speed_100000_split_2.0:connection_mode=2
plp_profile_3_speed_100000_split_2.0:port_mode=0
plp_profile_3_speed_100000_split_2.0:flags=0
plp_profile_3_speed_100000_split_2.0:host_fec_type=3
plp_profile_3_speed_100000_split_2.0:line_fec_type=0
plp_profile_3_speed_100000_split_2.0:host_no_of_lanes=2
plp_profile_3_speed_100000_split_2.0:line_no_of_lanes=4
plp_profile_3_speed_100000_split_2.0:line_start_lane=8
plp_profile_3_speed_100000_split_2.0:host_start_lane=0

plp_profile_3_speed_100000_split_2.2:connection_mode=2
plp_profile_3_speed_100000_split_2.2:port_mode=0
plp_profile_3_speed_100000_split_2.2:flags=0
plp_profile_3_speed_100000_split_2.2:host_fec_type=3
plp_profile_3_speed_100000_split_2.2:line_fec_type=0
plp_profile_3_speed_100000_split_2.2:host_no_of_lanes=2
plp_profile_3_speed_100000_split_2.2:line_no_of_lanes=4
plp_profile_3_speed_100000_split_2.2:line_start_lane=12
plp_profile_3_speed_100000_split_2.2:host_start_lane=4

plp_tx_polarity_flip_host:0x10006=0x0
plp_rx_polarity_flip_host:0x10006=0x0

plp_tx_polarity_flip_line:0x10006=0x0
plp_rx_polarity_flip_line:0x10006=0x0

# port 15 16
plp_phy_unit_id:0x10007=0
plp_phy_card_id:0x10007=0
plp_phy_mdio_id:0x10007=1
plp_phy_reg_offset:0x10007=0

plp_phy_init_profile_id:0x10007=4

plp_profile_4_init_lanes:0x10007=36,37,38,39
plp_profile_4_init_ports:0x10007=36,38
plp_profile_4_init_ports_lane_num:0x10007=2,2
plp_profile_4_init_speed_mode:0x10007=100000,100000

plp_profile_4_speed_100000_split_2.0:connection_mode=2
plp_profile_4_speed_100000_split_2.0:port_mode=0
plp_profile_4_speed_100000_split_2.0:flags=0
plp_profile_4_speed_100000_split_2.0:host_fec_type=3
plp_profile_4_speed_100000_split_2.0:line_fec_type=0
plp_profile_4_speed_100000_split_2.0:host_no_of_lanes=2
plp_profile_4_speed_100000_split_2.0:line_no_of_lanes=4
plp_profile_4_speed_100000_split_2.0:line_start_lane=8
plp_profile_4_speed_100000_split_2.0:host_start_lane=0

plp_profile_4_speed_100000_split_2.2:connection_mode=2
plp_profile_4_speed_100000_split_2.2:port_mode=0
plp_profile_4_speed_100000_split_2.2:flags=0
plp_profile_4_speed_100000_split_2.2:host_fec_type=3
plp_profile_4_speed_100000_split_2.2:line_fec_type=0
plp_profile_4_speed_100000_split_2.2:host_no_of_lanes=2
plp_profile_4_speed_100000_split_2.2:line_no_of_lanes=4
plp_profile_4_speed_100000_split_2.2:line_start_lane=12
plp_profile_4_speed_100000_split_2.2:host_start_lane=2

plp_tx_polarity_flip_host:0x10007=0x0
plp_rx_polarity_flip_host:0x10007=0x0

plp_tx_polarity_flip_line:0x10007=0x0
plp_rx_polarity_flip_line:0x10007=0x0


plp_phy_unit_id:0x2000a=0
plp_phy_card_id:0x2000a=0
plp_phy_mdio_id:0x2000a=2
plp_phy_reg_offset:0x2000a=0

plp_phy_init_profile_id:0x2000a=5

plp_profile_5_init_lanes:0x2000a=80,81,82,83
plp_profile_5_init_ports:0x2000a=80,82
plp_profile_5_init_ports_lane_num:0x2000a=2,2
plp_profile_5_init_speed_mode:0x2000a=100000,100000

plp_profile_5_speed_100000_split_2.0:connection_mode=2
plp_profile_5_speed_100000_split_2.0:port_mode=0
plp_profile_5_speed_100000_split_2.0:flags=0
plp_profile_5_speed_100000_split_2.0:host_fec_type=3
plp_profile_5_speed_100000_split_2.0:line_fec_type=0
plp_profile_5_speed_100000_split_2.0:host_no_of_lanes=2
plp_profile_5_speed_100000_split_2.0:line_no_of_lanes=4
plp_profile_5_speed_100000_split_2.0:line_start_lane=8
plp_profile_5_speed_100000_split_2.0:host_start_lane=0

plp_profile_5_speed_100000_split_2.2:connection_mode=2
plp_profile_5_speed_100000_split_2.2:port_mode=0
plp_profile_5_speed_100000_split_2.2:flags=0
plp_profile_5_speed_100000_split_2.2:host_fec_type=3
plp_profile_5_speed_100000_split_2.2:line_fec_type=0
plp_profile_5_speed_100000_split_2.2:host_no_of_lanes=2
plp_profile_5_speed_100000_split_2.2:line_no_of_lanes=4
plp_profile_5_speed_100000_split_2.2:line_start_lane=12
plp_profile_5_speed_100000_split_2.2:host_start_lane=4

plp_tx_polarity_flip_host:0x2000a=0x0
plp_rx_polarity_flip_host:0x2000a=0x0

plp_tx_polarity_flip_line:0x2000a=0x0
plp_rx_polarity_flip_line:0x2000a=0x0


plp_phy_unit_id:0x2000b=0
plp_phy_card_id:0x2000b=0
plp_phy_mdio_id:0x2000b=2
plp_phy_reg_offset:0x2000b=0

plp_phy_init_profile_id:0x2000b=6

plp_profile_6_init_lanes:0x2000b=84,85,86,87
plp_profile_6_init_ports:0x2000b=84,86
plp_profile_6_init_ports_lane_num:0x2000b=2,2
plp_profile_6_init_speed_mode:0x2000b=100000,100000

plp_profile_6_speed_100000_split_2.0:connection_mode=2
plp_profile_6_speed_100000_split_2.0:port_mode=0
plp_profile_6_speed_100000_split_2.0:flags=0
plp_profile_6_speed_100000_split_2.0:host_fec_type=3
plp_profile_6_speed_100000_split_2.0:line_fec_type=0
plp_profile_6_speed_100000_split_2.0:host_no_of_lanes=2
plp_profile_6_speed_100000_split_2.0:line_no_of_lanes=4
plp_profile_6_speed_100000_split_2.0:line_start_lane=8
plp_profile_6_speed_100000_split_2.0:host_start_lane=0

plp_profile_6_speed_100000_split_2.2:connection_mode=2
plp_profile_6_speed_100000_split_2.2:port_mode=0
plp_profile_6_speed_100000_split_2.2:flags=0
plp_profile_6_speed_100000_split_2.2:host_fec_type=3
plp_profile_6_speed_100000_split_2.2:line_fec_type=0
plp_profile_6_speed_100000_split_2.2:host_no_of_lanes=2
plp_profile_6_speed_100000_split_2.2:line_no_of_lanes=4
plp_profile_6_speed_100000_split_2.2:line_start_lane=12
plp_profile_6_speed_100000_split_2.2:host_start_lane=2

plp_tx_polarity_flip_host:0x2000b=0x0
plp_rx_polarity_flip_host:0x2000b=0x0

plp_tx_polarity_flip_line:0x2000b=0x0
plp_rx_polarity_flip_line:0x2000b=0x0


plp_phy_unit_id:0x3000e=0
plp_phy_card_id:0x3000e=0
plp_phy_mdio_id:0x3000e=3
plp_phy_reg_offset:0x3000e=0

plp_phy_init_profile_id:0x3000e=7

plp_profile_7_init_lanes:0x3000e=88,89,90,91
plp_profile_7_init_ports:0x3000e=88,90
plp_profile_7_init_ports_lane_num:0x3000e=2,2
plp_profile_7_init_speed_mode:0x3000e=100000,100000

plp_profile_7_speed_100000_split_2.0:connection_mode=2
plp_profile_7_speed_100000_split_2.0:port_mode=0
plp_profile_7_speed_100000_split_2.0:flags=0
plp_profile_7_speed_100000_split_2.0:host_fec_type=3
plp_profile_7_speed_100000_split_2.0:line_fec_type=0
plp_profile_7_speed_100000_split_2.0:host_no_of_lanes=2
plp_profile_7_speed_100000_split_2.0:line_no_of_lanes=4
plp_profile_7_speed_100000_split_2.0:line_start_lane=8
plp_profile_7_speed_100000_split_2.0:host_start_lane=0

plp_profile_7_speed_100000_split_2.2:connection_mode=2
plp_profile_7_speed_100000_split_2.2:port_mode=0
plp_profile_7_speed_100000_split_2.2:flags=0
plp_profile_7_speed_100000_split_2.2:host_fec_type=3
plp_profile_7_speed_100000_split_2.2:line_fec_type=0
plp_profile_7_speed_100000_split_2.2:host_no_of_lanes=2
plp_profile_7_speed_100000_split_2.2:line_no_of_lanes=4
plp_profile_7_speed_100000_split_2.2:line_start_lane=12
plp_profile_7_speed_100000_split_2.2:host_start_lane=4

plp_tx_polarity_flip_host:0x3000e=0x0
plp_rx_polarity_flip_host:0x3000e=0x0

plp_tx_polarity_flip_line:0x3000e=0x0
plp_rx_polarity_flip_line:0x3000e=0x0


plp_phy_unit_id:0x3000f=0
plp_phy_card_id:0x3000f=0
plp_phy_mdio_id:0x3000f=3
plp_phy_reg_offset:0x3000f=0

plp_phy_init_profile_id:0x3000f=8

plp_profile_8_init_lanes:0x3000f=92,93,94,95
plp_profile_8_init_ports:0x3000f=92,94
plp_profile_8_init_ports_lane_num:0x3000f=2,2
plp_profile_8_init_speed_mode:0x3000f=100000,100000

plp_profile_8_speed_100000_split_2.0:connection_mode=2
plp_profile_8_speed_100000_split_2.0:port_mode=0
plp_profile_8_speed_100000_split_2.0:flags=0
plp_profile_8_speed_100000_split_2.0:host_fec_type=3
plp_profile_8_speed_100000_split_2.0:line_fec_type=0
plp_profile_8_speed_100000_split_2.0:host_no_of_lanes=2
plp_profile_8_speed_100000_split_2.0:line_no_of_lanes=4
plp_profile_8_speed_100000_split_2.0:line_start_lane=8
plp_profile_8_speed_100000_split_2.0:host_start_lane=0

plp_profile_8_speed_100000_split_2.2:connection_mode=2
plp_profile_8_speed_100000_split_2.2:port_mode=0
plp_profile_8_speed_100000_split_2.2:flags=0
plp_profile_8_speed_100000_split_2.2:host_fec_type=3
plp_profile_8_speed_100000_split_2.2:line_fec_type=0
plp_profile_8_speed_100000_split_2.2:host_no_of_lanes=2
plp_profile_8_speed_100000_split_2.2:line_no_of_lanes=4
plp_profile_8_speed_100000_split_2.2:line_start_lane=12
plp_profile_8_speed_100000_split_2.2:host_start_lane=2

plp_tx_polarity_flip_host:0x3000f=0x0
plp_rx_polarity_flip_host:0x3000f=0x0

plp_tx_polarity_flip_line:0x3000f=0x0
plp_rx_polarity_flip_line:0x3000f=0x0