#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# Configuration item:	LED CPLD register address
# Description: Formatled_status_[led_id]_[led_index]
# Note:	led_id By definition wb_led_t
# led_index:If there is no index, fill in 0. If there is an index (such as a fan light), the number starts from 1

# Front panel SYS light
led_status.mode_0_0=config
led_status.src_0_0=cpld
led_status.frmt_0_0=byte
led_status.addr_0_0=0x000200b2
led_status.len_0_0=1

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 0- Front panel SYS light
led_status_decode_0_0x00=0
led_status_decode_0_0x01=1
led_status_decode_0_0x02=3
led_status_decode_0_0x03=2
led_status_decode_0_0x11=5
led_status_decode_0_0x12=7
led_status_decode_0_0x13=6

# Front panel FAN light
led_status.mode_4_0=config
led_status.src_4_0=cpld
led_status.frmt_4_0=byte
led_status.addr_4_0=0x000200b4
led_status.len_4_0=1

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 4-Front panel FAN light
led_status_decode_4_0=0
led_status_decode_4_1=7
led_status_decode_4_2=3
led_status_decode_4_3=5
led_status_decode_4_4=1
led_status_decode_4_5=6
led_status_decode_4_6=2
led_status_decode_4_7=0

# Front panel PSU light
led_status.mode_6_0=config
led_status.src_6_0=cpld
led_status.frmt_6_0=byte
led_status.addr_6_0=0x000200b3
led_status.len_6_0=1

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 6-Front panel PSU light
led_status_decode_6_0=0
led_status_decode_6_1=7
led_status_decode_6_2=3
led_status_decode_6_3=5
led_status_decode_6_4=1
led_status_decode_6_5=6
led_status_decode_6_6=2
led_status_decode_6_7=0


# Front panel id light
led_status.mode_8_0=config
led_status.src_8_0=cpld
led_status.frmt_8_0=bit
led_status.pola_8_0=positive
led_status.addr_8_0=0x0002002a
led_status.len_8_0=1
led_status.bit_offset_8_0=0

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 8-Front panel id light
led_status_decode_8_0=4
led_status_decode_8_1=0


# Fan body lamp1
led_status.mode_10_1=config
led_status.src_10_1=cpld
led_status.frmt_10_1=byte
led_status.addr_10_1=0x00000023
led_status.len_10_1=1

# Fan body lamp2
led_status.mode_10_2=config
led_status.src_10_2=cpld
led_status.frmt_10_2=byte
led_status.addr_10_2=0x00000024
led_status.len_10_2=1

# Fan body lamp3
led_status.mode_10_3=config
led_status.src_10_3=cpld
led_status.frmt_10_3=byte
led_status.addr_10_3=0x00000025
led_status.len_10_3=1

# Fan body lamp4
led_status.mode_10_4=config
led_status.src_10_4=cpld
led_status.frmt_10_4=byte
led_status.addr_10_4=0x00000026
led_status.len_10_4=1

# Configuration item: LED indicator CPLD register value converted to standard value
# Description: Format led_status_decode_[led_id]_[origin_value] origin_value:Original CPLD value
# led_id Same LED light type defined, 10-Fan body lamp
led_status_decode_10_11=0
led_status_decode_10_14=7
led_status_decode_10_10=3
led_status_decode_10_13=5
led_status_decode_10_9=1
led_status_decode_10_7=6
led_status_decode_10_3=2
