#
# @Fill in the agreement
# 1. Complete comments must be filled in before configuration items. Comments must not be filled in the same line of
# configuration items and invalid Spaces must not be added between configuration items
# 2. The value can be in 10 or hexadecimal format. The hexadecimal value starts with "0x"
# 3. Some configuration items do not need to be filled in a specific product. To facilitate other products to copy and
# fill in the configuration items, do not delete them
# 4. Configuration item

# Configuration items:	PSU number
# Description: Format dev_num_[main_dev]_[minor_dev]
# Note:	main_dev,PSU is 2, minor_dev,0 indicates the obtained number
dev_num_2_0=2

# Configuration items:	PSU temperature sensors number
# Description: Format dev_num_[main_dev]_[minor_dev]
# Note:	main_dev,PSU is 2, minor_dev, 1:temperature
dev_num_2_1=1

# Configuration items:	Address of the power status register
# Description: Format psu_status_[psu_index]_[status_id]
# Note:	psu_index:Power supply number,start with 1 status_id 0:present 1:status 2:Alarm status

psu_status.mode_1_0=constant
psu_status.int_cons_1_0=1
psu_status.src_1_0=
psu_status.frmt_1_0=
psu_status.pola_1_0=
psu_status.fpath_1_0=
psu_status.addr_1_0=
psu_status.len_1_0=
psu_status.bit_offset_1_0=

psu_status.mode_1_1=config
psu_status.src_1_1=logic_file
psu_status.frmt_1_1=bit
psu_status.pola_1_1=positive
psu_status.fpath_1_1=/dev/cpld1
psu_status.addr_1_1=0xe7
psu_status.len_1_1=1
psu_status.bit_offset_1_1=5

psu_status.mode_1_2=config
psu_status.src_1_2=logic_file
psu_status.frmt_1_2=bit
psu_status.pola_1_2=positive
psu_status.fpath_1_2=/dev/cpld1
psu_status.addr_1_2=0x6d
psu_status.len_1_2=1
psu_status.bit_offset_1_2=2

psu_status.mode_2_0=constant
psu_status.int_cons_2_0=1
psu_status.src_2_0=
psu_status.frmt_2_0=
psu_status.pola_2_0=
psu_status.fpath_2_0=
psu_status.addr_2_0=
psu_status.len_2_0=
psu_status.bit_offset_2_0=

psu_status.mode_2_1=config
psu_status.src_2_1=logic_file
psu_status.frmt_2_1=bit
psu_status.pola_2_1=positive
psu_status.fpath_2_1=/dev/cpld1
psu_status.addr_2_1=0xe7
psu_status.len_2_1=1
psu_status.bit_offset_2_1=6

psu_status.mode_2_2=config
psu_status.src_2_2=logic_file
psu_status.frmt_2_2=bit
psu_status.pola_2_2=positive
psu_status.fpath_2_2=/dev/cpld1
psu_status.addr_2_2=0x6d
psu_status.len_2_2=1
psu_status.bit_offset_2_2=3

# Configuration items:psu fru info source
# Description: when psu_fru_mode=pmbus is set, psu_fru_pmbus should be adapted
psu_fru_mode=pmbus
# Configuration items:PSU PMBUS information
# Description: Format psu_fru_pmbus_[psu_index]_[info_type]
# Note:	psu_index:Power supply number,start with 1 info_type definition is as follows:
    # DFD_DEV_INFO_TYPE_MAC               = 1,
    # DFD_DEV_INFO_TYPE_NAME              = 2,
    # DFD_DEV_INFO_TYPE_SN                = 3,
    # DFD_DEV_INFO_TYPE_PWR_CONS          = 4,
    # DFD_DEV_INFO_TYPE_HW_INFO           = 5,
    # DFD_DEV_INFO_TYPE_DEV_TYPE          = 6,
    # DFD_DEV_INFO_TYPE_PART_NAME         = 7,
    # DFD_DEV_INFO_TYPE_PART_NUMBER       = 8,  /* part number */
    # DFD_DEV_INFO_TYPE_FAN_DIRECTION     = 9,
    # DFD_DEV_INFO_TYPE_MAX_OUTPUT_POWRER = 10, /* max_output_power */
    # DFD_DEV_INFO_TYPE_SPEED_CAL = 11,
    # DFD_DEV_INFO_TYPE_ASSET_TAG = 12,
    # DFD_DEV_INFO_TYPE_VENDOR    = 13,
    # DFD_DEV_INFO_TYPE_EXTRA1    = 14,
    # DFD_DEV_INFO_TYPE_EXTRA2    = 15,
    # DFD_DEV_INFO_TYPE_EXTRA3    = 16,
    # DFD_DEV_INFO_TYPE_EXTRA4    = 17,
psu_fru_pmbus.mode_1_3=config
psu_fru_pmbus.int_cons_1_3=0
psu_fru_pmbus.src_1_3=file
psu_fru_pmbus.frmt_1_3=buf
psu_fru_pmbus.fpath_1_3=/sys/bus/i2c/devices/16-0060/mfr_serial
psu_fru_pmbus.addr_1_3=0
psu_fru_pmbus.len_1_3=32
psu_fru_pmbus.bit_offset_1_3=
psu_fru_pmbus.str_cons_1_3=

psu_fru_pmbus.mode_1_5=config
psu_fru_pmbus.int_cons_1_5=0
psu_fru_pmbus.src_1_5=file
psu_fru_pmbus.frmt_1_5=buf
psu_fru_pmbus.fpath_1_5=/sys/bus/i2c/devices/16-0060/mfr_revision
psu_fru_pmbus.addr_1_5=0
psu_fru_pmbus.len_1_5=32
psu_fru_pmbus.bit_offset_1_5=
psu_fru_pmbus.str_cons_1_5=

psu_fru_pmbus.mode_1_7=config
psu_fru_pmbus.int_cons_1_7=0
psu_fru_pmbus.src_1_7=file
psu_fru_pmbus.frmt_1_7=buf
psu_fru_pmbus.fpath_1_7=/sys/bus/i2c/devices/16-0060/mfr_model
psu_fru_pmbus.addr_1_7=0
psu_fru_pmbus.len_1_7=32
psu_fru_pmbus.bit_offset_1_7=
psu_fru_pmbus.str_cons_1_7=

psu_fru_pmbus.mode_1_8=config
psu_fru_pmbus.int_cons_1_8=0
psu_fru_pmbus.src_1_8=file
psu_fru_pmbus.frmt_1_8=buf
psu_fru_pmbus.fpath_1_8=/sys/bus/i2c/devices/16-0060/mfr_model
psu_fru_pmbus.addr_1_8=0
psu_fru_pmbus.len_1_8=32
psu_fru_pmbus.bit_offset_1_8=
psu_fru_pmbus.str_cons_1_8=

psu_fru_pmbus.mode_1_12=config
psu_fru_pmbus.int_cons_1_12=0
psu_fru_pmbus.src_1_12=file
psu_fru_pmbus.frmt_1_12=buf
psu_fru_pmbus.fpath_1_12=/sys/bus/i2c/devices/16-0060/mfr_date
psu_fru_pmbus.addr_1_12=0
psu_fru_pmbus.len_1_12=32
psu_fru_pmbus.bit_offset_1_12=
psu_fru_pmbus.str_cons_1_12=

psu_fru_pmbus.mode_1_13=config
psu_fru_pmbus.int_cons_1_13=0
psu_fru_pmbus.src_1_13=file
psu_fru_pmbus.frmt_1_13=buf
psu_fru_pmbus.fpath_1_13=/sys/bus/i2c/devices/16-0060/mfr_id
psu_fru_pmbus.addr_1_13=0
psu_fru_pmbus.len_1_13=32
psu_fru_pmbus.bit_offset_1_13=
psu_fru_pmbus.str_cons_1_13=


psu_fru_pmbus.mode_2_3=config
psu_fru_pmbus.int_cons_2_3=0
psu_fru_pmbus.src_2_3=file
psu_fru_pmbus.frmt_2_3=buf
psu_fru_pmbus.fpath_2_3=/sys/bus/i2c/devices/17-0060/mfr_serial
psu_fru_pmbus.addr_2_3=0
psu_fru_pmbus.len_2_3=32
psu_fru_pmbus.bit_offset_2_3=
psu_fru_pmbus.str_cons_2_3=

psu_fru_pmbus.mode_2_5=config
psu_fru_pmbus.int_cons_2_5=0
psu_fru_pmbus.src_2_5=file
psu_fru_pmbus.frmt_2_5=buf
psu_fru_pmbus.fpath_2_5=/sys/bus/i2c/devices/17-0060/mfr_revision
psu_fru_pmbus.addr_2_5=0
psu_fru_pmbus.len_2_5=32
psu_fru_pmbus.bit_offset_2_5=
psu_fru_pmbus.str_cons_2_5=

psu_fru_pmbus.mode_2_7=config
psu_fru_pmbus.int_cons_2_7=0
psu_fru_pmbus.src_2_7=file
psu_fru_pmbus.frmt_2_7=buf
psu_fru_pmbus.fpath_2_7=/sys/bus/i2c/devices/17-0060/mfr_model
psu_fru_pmbus.addr_2_7=0
psu_fru_pmbus.len_2_7=32
psu_fru_pmbus.bit_offset_2_7=
psu_fru_pmbus.str_cons_2_7=

psu_fru_pmbus.mode_2_8=config
psu_fru_pmbus.int_cons_2_8=0
psu_fru_pmbus.src_2_8=file
psu_fru_pmbus.frmt_2_8=buf
psu_fru_pmbus.fpath_2_8=/sys/bus/i2c/devices/17-0060/mfr_model
psu_fru_pmbus.addr_2_8=0
psu_fru_pmbus.len_2_8=32
psu_fru_pmbus.bit_offset_2_8=
psu_fru_pmbus.str_cons_2_8=

psu_fru_pmbus.mode_2_12=config
psu_fru_pmbus.int_cons_2_12=0
psu_fru_pmbus.src_2_12=file
psu_fru_pmbus.frmt_2_12=buf
psu_fru_pmbus.fpath_2_12=/sys/bus/i2c/devices/17-0060/mfr_date
psu_fru_pmbus.addr_2_12=0
psu_fru_pmbus.len_2_12=32
psu_fru_pmbus.bit_offset_2_12=
psu_fru_pmbus.str_cons_2_12=

psu_fru_pmbus.mode_2_13=config
psu_fru_pmbus.int_cons_2_13=0
psu_fru_pmbus.src_2_13=file
psu_fru_pmbus.frmt_2_13=buf
psu_fru_pmbus.fpath_2_13=/sys/bus/i2c/devices/17-0060/mfr_id
psu_fru_pmbus.addr_2_13=0
psu_fru_pmbus.len_2_13=32
psu_fru_pmbus.bit_offset_2_13=
psu_fru_pmbus.str_cons_2_13=


# Configuration items: PMBUS register address of the power supply
# Description: Format psu_status_[psu_index]_[reg_id]
# Note:psu_index:Power supply number,start with 1 reg_id, 9:Power Output Status (0x79)
psu_pmbus_reg.mode_1_9=config
psu_pmbus_reg.int_cons_1_9=0
psu_pmbus_reg.src_1_9=file
psu_pmbus_reg.frmt_1_9=buf
psu_pmbus_reg.fpath_1_9=/sys/bus/i2c/devices/16-0060/hwmon/
psu_pmbus_reg.addr_1_9=0
psu_pmbus_reg.len_1_9=8
psu_pmbus_reg.bit_offset_1_9=
psu_pmbus_reg.str_cons_1_9=status_word

psu_pmbus_reg.mode_2_9=config
psu_pmbus_reg.int_cons_2_9=0
psu_pmbus_reg.src_2_9=file
psu_pmbus_reg.frmt_2_9=buf
psu_pmbus_reg.fpath_2_9=/sys/bus/i2c/devices/17-0060/hwmon/
psu_pmbus_reg.addr_2_9=0
psu_pmbus_reg.len_2_9=8
psu_pmbus_reg.bit_offset_2_9=
psu_pmbus_reg.str_cons_2_9=status_word

# Configuration items:PMBUS register address of the power supply
# Description: Format psu_status_[psu_index]_[reg_id]
# Note:psu_index:Power supply number,start with 1 reg_id, 10:Power input Status (0x79)
psu_pmbus_reg.mode_1_10=config
psu_pmbus_reg.int_cons_1_10=0
psu_pmbus_reg.src_1_10=file
psu_pmbus_reg.frmt_1_10=buf
psu_pmbus_reg.fpath_1_10=/sys/bus/i2c/devices/16-0060/hwmon/
psu_pmbus_reg.addr_1_10=0
psu_pmbus_reg.len_1_10=8
psu_pmbus_reg.bit_offset_1_10=
psu_pmbus_reg.str_cons_1_10=status_word

psu_pmbus_reg.mode_2_10=config
psu_pmbus_reg.int_cons_2_10=0
psu_pmbus_reg.src_2_10=file
psu_pmbus_reg.frmt_2_10=buf
psu_pmbus_reg.fpath_2_10=/sys/bus/i2c/devices/17-0060/hwmon/
psu_pmbus_reg.addr_2_10=0
psu_pmbus_reg.len_2_10=8
psu_pmbus_reg.bit_offset_2_10=
psu_pmbus_reg.str_cons_2_10=status_word

# Configuration items:PMBUS register address of the power supply
# Description: Format psu_status_[psu_index]_[reg_id]
# Note:psu_index:Power supply number,,start with 1 reg_id 11:Power Input type (0x80)
psu_pmbus_reg.mode_1_11=constant
psu_pmbus_reg.int_cons_1_11=0
psu_pmbus_reg.src_1_11=
psu_pmbus_reg.frmt_1_11=
psu_pmbus_reg.pola_1_11=
psu_pmbus_reg.addr_1_11=
psu_pmbus_reg.len_1_11=
psu_pmbus_reg.bit_offset_1_11=

psu_pmbus_reg.mode_2_11=constant
psu_pmbus_reg.int_cons_2_11=0
psu_pmbus_reg.src_2_11=
psu_pmbus_reg.frmt_2_11=
psu_pmbus_reg.pola_2_11=
psu_pmbus_reg.addr_2_11=
psu_pmbus_reg.len_2_11=
psu_pmbus_reg.bit_offset_2_11=
# Configuration items:PSU PMBUS information
# Description: Format hwmon_psu_[psu_index]_[sensor_type]
# Note:	psu_index:Power supply number,start with 1 sensor_type definition is as follows:
# 0:None 1:in_vol 2:in_curr 3:in_power 4:out_vol 5:out_curr 6:out_power 7:fan
#     PSU_IN_VOL         = 1,
#     PSU_IN_CURR        = 2,
#     PSU_IN_POWER       = 3,
#     PSU_OUT_VOL        = 4,
#     PSU_OUT_CURR       = 5,
#     PSU_OUT_POWER      = 6,
#     PSU_FAN_SPEED      = 7,
#     PSU_OUT_MAX_POWERE = 8,
#     PSU_OUT_STATUS     = 9,
#     PSU_IN_STATUS      = 10,
#     PSU_IN_TYPE        = 11,
#     PSU_FAN_RATIO      = 12,
#     PSU_IN_VOL_MAX     = 13,
#     PSU_IN_CURR_MAX    = 14,
#     PSU_IN_VOL_MIN     = 15,
#     PSU_IN_CURR_MIN    = 16,
#     PSU_OUT_VOL_MAX     = 17,
#     PSU_OUT_CURR_MAX    = 18,
#     PSU_OUT_VOL_MIN     = 19,
#     PSU_OUT_CURR_MIN    = 20,
#     PSU_FAN_SPEED_MAX   = 21,
#     PSU_FAN_SPEED_MIN   = 22,
#     PSU_IN_POWER_MAX    = 23,
#     PSU_IN_POWER_MIN    = 24,
#     PSU_OUT_POWER_MAX   = 25,
#     PSU_OUT_POWER_MIN   = 26,
#     PSU_HW_STATUS          = 27,
# psu1 in_vol
hwmon_psu.mode_1_1=config
hwmon_psu.int_cons_1_1=0
hwmon_psu.src_1_1=file
hwmon_psu.frmt_1_1=buf
hwmon_psu.fpath_1_1=/sys/bus/i2c/devices/16-0060/hwmon/
hwmon_psu.addr_1_1=0
hwmon_psu.len_1_1=8
hwmon_psu.bit_offset_1_1=
hwmon_psu.str_cons_1_1=in1_input

# psu1 in_curr
hwmon_psu.mode_1_2=config
hwmon_psu.int_cons_1_2=0
hwmon_psu.src_1_2=file
hwmon_psu.frmt_1_2=buf
hwmon_psu.fpath_1_2=/sys/bus/i2c/devices/16-0060/hwmon/
hwmon_psu.addr_1_2=0
hwmon_psu.len_1_2=8
hwmon_psu.bit_offset_1_2=
hwmon_psu.str_cons_1_2=curr1_input

# psu1 in_power
hwmon_psu.mode_1_3=config
hwmon_psu.int_cons_1_3=0
hwmon_psu.src_1_3=file
hwmon_psu.frmt_1_3=buf
hwmon_psu.fpath_1_3=/sys/bus/i2c/devices/16-0060/hwmon/
hwmon_psu.addr_1_3=0
hwmon_psu.len_1_3=16
hwmon_psu.bit_offset_1_3=0
hwmon_psu.str_cons_1_3=power1_input

# psu1 out_vol
hwmon_psu.mode_1_4=config
hwmon_psu.int_cons_1_4=0
hwmon_psu.src_1_4=file
hwmon_psu.frmt_1_4=buf
hwmon_psu.fpath_1_4=/sys/bus/i2c/devices/16-0060/hwmon/
hwmon_psu.addr_1_4=0
hwmon_psu.len_1_4=8
hwmon_psu.bit_offset_1_4=
hwmon_psu.str_cons_1_4=in2_input

# psu1 out_curr
hwmon_psu.mode_1_5=config
hwmon_psu.int_cons_1_5=0
hwmon_psu.src_1_5=file
hwmon_psu.frmt_1_5=buf
hwmon_psu.fpath_1_5=/sys/bus/i2c/devices/16-0060/hwmon/
hwmon_psu.addr_1_5=0
hwmon_psu.len_1_5=8
hwmon_psu.bit_offset_1_5=
hwmon_psu.str_cons_1_5=curr2_input

# psu1 out_power
hwmon_psu.mode_1_6=config
hwmon_psu.int_cons_1_6=0
hwmon_psu.src_1_6=file
hwmon_psu.frmt_1_6=buf
hwmon_psu.fpath_1_6=/sys/bus/i2c/devices/16-0060/hwmon/
hwmon_psu.addr_1_6=0
hwmon_psu.len_1_6=16
hwmon_psu.bit_offset_1_6=0
hwmon_psu.str_cons_1_6=power2_input

# psu1 in/out_status
hwmon_psu.mode_1_27=config
hwmon_psu.int_cons_1_27=
hwmon_psu.src_1_27=file
hwmon_psu.frmt_1_27=buf
hwmon_psu.fpath_1_27=/sys/bus/i2c/devices/16-0060/hwmon/
hwmon_psu.addr_1_27=0
hwmon_psu.len_1_27=8
hwmon_psu.bit_offset_1_27=
hwmon_psu.str_cons_1_27=status0

# psu2 in_vol
hwmon_psu.mode_2_1=config
hwmon_psu.int_cons_2_1=0
hwmon_psu.src_2_1=file
hwmon_psu.frmt_2_1=buf
hwmon_psu.fpath_2_1=/sys/bus/i2c/devices/17-0060/hwmon/
hwmon_psu.addr_2_1=0
hwmon_psu.len_2_1=8
hwmon_psu.bit_offset_2_1=
hwmon_psu.str_cons_2_1=in1_input

# psu2 in_curr
hwmon_psu.mode_2_2=config
hwmon_psu.int_cons_2_2=0
hwmon_psu.src_2_2=file
hwmon_psu.frmt_2_2=buf
hwmon_psu.fpath_2_2=/sys/bus/i2c/devices/17-0060/hwmon/
hwmon_psu.addr_2_2=0
hwmon_psu.len_2_2=8
hwmon_psu.bit_offset_2_2=
hwmon_psu.str_cons_2_2=curr1_input

# psu2 in_power
hwmon_psu.mode_2_3=config
hwmon_psu.int_cons_2_3=0
hwmon_psu.src_2_3=file
hwmon_psu.frmt_2_3=buf
hwmon_psu.fpath_2_3=/sys/bus/i2c/devices/17-0060/hwmon/
hwmon_psu.addr_2_3=0
hwmon_psu.len_2_3=16
hwmon_psu.bit_offset_2_3=0
hwmon_psu.str_cons_2_3=power1_input

# psu2 out_vol
hwmon_psu.mode_2_4=config
hwmon_psu.int_cons_2_4=0
hwmon_psu.src_2_4=file
hwmon_psu.frmt_2_4=buf
hwmon_psu.fpath_2_4=/sys/bus/i2c/devices/17-0060/hwmon/
hwmon_psu.addr_2_4=0
hwmon_psu.len_2_4=8
hwmon_psu.bit_offset_2_4=
hwmon_psu.str_cons_2_4=in2_input

# psu2 out_curr
hwmon_psu.mode_2_5=config
hwmon_psu.int_cons_2_5=0
hwmon_psu.src_2_5=file
hwmon_psu.frmt_2_5=buf
hwmon_psu.fpath_2_5=/sys/bus/i2c/devices/17-0060/hwmon/
hwmon_psu.addr_2_5=0
hwmon_psu.len_2_5=8
hwmon_psu.bit_offset_2_5=
hwmon_psu.str_cons_2_5=curr2_input

# psu2 out_power
hwmon_psu.mode_2_6=config
hwmon_psu.int_cons_2_6=0
hwmon_psu.src_2_6=file
hwmon_psu.frmt_2_6=buf
hwmon_psu.fpath_2_6=/sys/bus/i2c/devices/17-0060/hwmon/
hwmon_psu.addr_2_6=0
hwmon_psu.len_2_6=16
hwmon_psu.bit_offset_2_6=0
hwmon_psu.str_cons_2_6=power2_input

# psu2 in/out_status
hwmon_psu.mode_2_27=config
hwmon_psu.int_cons_2_27=
hwmon_psu.src_2_27=file
hwmon_psu.frmt_2_27=buf
hwmon_psu.fpath_2_27=/sys/bus/i2c/devices/17-0060/hwmon/
hwmon_psu.addr_2_27=0
hwmon_psu.len_2_27=8
hwmon_psu.bit_offset_2_27=
hwmon_psu.str_cons_2_27=status0

# 配置项：	温度hwmon路径
# 填写说明：格式 hwmon_temp[key1]_[key2] 
# 备注：	key1:高8bit表示设备的索引，从1开始，低8bit表示温度索引，从1开始
# key2：高4bit表示主设备类型，电源为5，低4bit表示温度类型 0:input 1:alias 
# Configuration items:	Temperature hwmon path
# Description: Format hwmon_temp[key1]_[key2]
# Note:	key1: high 8bit indicates the index of the device (start with 1), and the low 8bit indicates the temperature index,start with 1
# key2: high 4bit indicates the main device type, the power supply is 5, and the low 4bit indicates the temperature type
# 0:input 1:alias 2:type 3:max 4:max_hyst 5:min 6:crit
# mode: str_constant takes the value of str_cons directly, and config reads it in the way specified by src
# int_cons:N raw value/(10^N)
# fpath:hwmon first half of the path
# bit_offset: Number of decimal places, retain original precision if not configured
# str_cons:if mode is str_constant,the value is result of read,if read from file the value is read file name.

# psu1 temp1 input
hwmon_temp.mode_0x0101_0x20=config
hwmon_temp.int_cons_0x0101_0x20=0
hwmon_temp.src_0x0101_0x20=file
hwmon_temp.frmt_0x0101_0x20=buf
hwmon_temp.fpath_0x0101_0x20=/sys/bus/i2c/devices/16-0060/hwmon/
hwmon_temp.addr_0x0101_0x20=0
hwmon_temp.len_0x0101_0x20=8
hwmon_temp.bit_offset_0x0101_0x20=
hwmon_temp.str_cons_0x0101_0x20=temp1_input

# psu1 temp1 alias
hwmon_temp.mode_0x0101_0x21=str_constant
hwmon_temp.str_cons_0x0101_0x21=psu1_temp1

# psu1 temp1 max
hwmon_temp.mode_0x0101_0x23=constant
hwmon_temp.int_cons_0x0101_0x23=55000

# psu1 temp1 min
hwmon_temp.mode_0x0101_0x25=constant
hwmon_temp.int_cons_0x0101_0x25=0

# psu2 temp1 input
hwmon_temp.mode_0x0201_0x20=config
hwmon_temp.int_cons_0x0201_0x20=0
hwmon_temp.src_0x0201_0x20=file
hwmon_temp.frmt_0x0201_0x20=buf
hwmon_temp.fpath_0x0201_0x20=/sys/bus/i2c/devices/17-0060/hwmon/
hwmon_temp.addr_0x0201_0x20=0
hwmon_temp.len_0x0201_0x20=8
hwmon_temp.bit_offset_0x0201_0x20=
hwmon_temp.str_cons_0x0201_0x20=temp1_input

# psu2 temp1 alias
hwmon_temp.mode_0x0201_0x21=str_constant
hwmon_temp.str_cons_0x0201_0x21=psu2_temp1

# psu2 temp1 max
hwmon_temp.mode_0x0201_0x23=constant
hwmon_temp.int_cons_0x0201_0x23=55000

# psu2 temp1 min
hwmon_temp.mode_0x0201_0x25=constant
hwmon_temp.int_cons_0x0201_0x25=0

# Configuration items:	The number of power supply names displayed by the product
# Description: Format dev_num_[main_dev]_[minor_dev]
# Note:	main_dev,PSU is 2, minor_dev, 6:The number of power supply names displayed
dev_num_2_6=2

# Configuration item: Displays the power supply name
# Fill in instructions: format decode_power_name_[index]
# Note: index indicates the ID of the power supply that is displayed
decode_power_name_1=PSU

# Configuration items:	Product power supply type name
# Description: Format power_name_[index1]_[index2]
# Note:	index1 Indicates the power supply displayed ID, start with 1,
# index2 Indicates different power supplies with the same ID, start with 1
power_name_1_1=Q54SN120A1RNPH

# Configuration items:	Rated power of supply
# Description: Format power_rate_supply_[index]
# Note:	index Indicates the power supply displayed ID
power_rate_supply_1=1600000000

# Configuration items:	Displays the type of power duct
# Description: Format decode_power_fan_dir_[index]
# Note:	index Indicates the power supply displayed ID,attr 0 indicates -F and 1 indicates -R

decode_power_fan_dir_1=0
