// SPDX-License-Identifier: GPL-2.0
/*
 * DTS file for phytium FT-2000/4 devboard (FT-2000/4-D4-DSK series)
 *
 * Copyright (C) 2018-2019, Phytium Technology Co., Ltd.
 */

/dts-v1/;
/memreserve/ 0x80000000 0x10000;

#include <ft2004v2-generic-psci-soc.dtsi>

/{
    model = "FT-2000/4-D4-DSK Development Board";
    compatible = "phytium,ft2004c";
    #address-cells = <2>;
    #size-cells = <2>;

    chosen {
        stdout-path = "uart1:115200n8";
    };

    memory@00{
        device_type = "memory";
        reg = <0x0 0x80000000 0x0 0x7b000000>;
    };

    soc {
        /* CPU板上的CPLD，通过LPC总线进行访问 */
        cpld0 {
            io_dev_name = "cpld0";
            compatible = "wb-io-dev";
            io_type = /bits/ 8 <0x1>;       /* 0:ioport, 1:iomen */
            io_base = <0x20000000>;
            io_len  = <0x0100>;
        };

        /* CPU板上的CPLD模拟的SPI控制器 */
        spi-cpld {
            compatible = "spi-cpld";
            reg = <0x0 0x20000000 0x0 0x100000>;
            #address-cells = <1>;
            #size-cells = <0>;

            /* CPLD模拟的SPI控制器下挂了3个CPLD，分别为主CPLD、从CPLD、风扇板CPLD，3个CPLD只使用了一个片选，
             * CPLD通过地址来进行区分。作为SPI设备，其在SPI master注册时会被创建出来 */
            cpld1:cpld1 {
                compatible = "wb-spi-dev";
                reg = <0x1>;                         /* 指定spi设备使用的片选信号。即spi->chip_select */
                spi-max-frequency = <10000000>;      /* 指定spi设备工作的最大频率。即spi->max_speed_hz */

                spi_dev_name      = "cpld1";         /* 生成的misc设备的名称 */
                data_bus_width    = <1>;             /* spi设备的数据位宽，单位B */
                addr_bus_width    = <2>;             /* spi设备的地址位宽，单位B。该设备采用cmd(1B) + addr(2B) + data(1-8B)的数据格式 */
                per_rd_len        = <1>;             /* 一次SPI数据传输，最大读取的数据长度。目前是由于spi控制器数据buf最大为8B，但cpld按1B读写，故这里只能配1 */
                per_wr_len        = <1>;             /* 一次SPI数据传输，最大写入的数据长度。目前是由于spi控制器数据buf最大为8B，但cpld按1B读写，故这里只能配1 */
                spi_len           = <0x10000>;
            };
        };

        /* 底板主CPLD上模拟I2C控制器, 映射RAM读写通道  该控制器内部9548下挂1个二级实体PCA9548 0x78 */
        cpld10 {
            compatible = "wb-indirect-dev";
            /* 1: i2c, 2: file, 3:pcie, 4:io, 5:spi, 8:atomic */
            logic_func_mode     = <5>;
            dev_name            = "cpld10";         /* created dev name */
            logic_dev_name      = "/dev/cpld1";     /* dependent dev name */
            data_bus_width      = <4>;              /* dev data_bus_width */
            addr_bus_width      = <1>;              /* dev addr_bus_width */
            wr_data             = <0x2080>;         /* dependent dev wr date reg */
            wr_data_width       = <4>;              /* dependent dev wr_data_width */
            addr_low            = <0x2084>;         /* dependent dev w/r addr reg low */
            addr_high           = <0x2085>;         /* dependent dev w/r addr reg high */
            rd_data             = <0x2086>;         /* dependent dev rd date reg */
            rd_data_width       = <4>;              /* dependent dev rd_data_width */
            opt_ctl             = <0x208a>;
            indirect_len        = <0x200>;
            lock_mode           = <2>;
        };

        i2c101: second-cpld-i2c0 {
            #address-cells = <1>;
            #size-cells = <0>;
            compatible = "wb-fpga-i2c";
            i2c_timeout             = <3000>;
            i2c_scale               = <0x00>;
            i2c_filter              = <0x04>;
            i2c_stretch             = <0x08>;
            i2c_slave               = <0x1c>;
            i2c_reg                 = <0x20>;
            i2c_reg_len             = <0x30>;
            i2c_data_len            = <0x34>;
            i2c_ctrl                = <0x38>;
            i2c_status              = <0x3c>;
            i2c_data_buf            = <0x100>;
            i2c_data_buf_len        = <256>;
            dev_name                = "/dev/cpld10";
            i2c_scale_value         = <0x4e>;
            i2c_filter_value        = <0x7c>;
            i2c_stretch_value       = <0x7c>;
            i2c_func_mode           = <2>;          /* 1:i2c, 2:file 3:spi */
            i2c_adap_reset_flag     = <1>;          /* 1:复位, 0:不复位 */
            i2c_reset_addr          = <0x7c>;
            i2c_reset_on            = <0x00000001>;
            i2c_reset_off           = <0x00000000>;
            i2c_reset_mask          = <0x00000001>;
            i2c_rst_delay_b         = <0>;          /* delay time before reset(us) */
            i2c_rst_delay           = <1>;          /* reset time(us) */
            i2c_rst_delay_a         = <1>;          /* delay time after reset(us) */
            i2c_ext_9548_exits_flag = <0x0c>;
            i2c_ext_9548_addr       = <0x10>;
            i2c_ext_9548_chan       = <0x14>;
            i2c_in_9548_chan        = <0x18>;

            /* 控制器内部9548 BUS 66-73, 风扇板1-4的EEPROM */
            i2c@78 {
                #address-cells = <1>;
                #size-cells = <0>;
                compatible = "wb_fpga_pca9548";
                reg = <0x78>;
                pca9548_base_nr          = <66>;
                fpga_9548_flag           = <1>;  /* 1:内部9548, 2:外部9548 */
                fpga_9548_reset_flag     = <0>;  /* 1:复位, 0:不复位*/
            };
        };

        /* 用于固件升级前，初始化GPIO的到一个默认的状态，以防止GPIO模拟的JTAG信号抖动，出现不可预知的问题 */
        gpio_init {
            compatible  = "gpio_init";
            gpioport@0 {                            /* 该设备节点包含的gpio信息，具体表示方式如下 */
                gpio            = <491>;             /* GPIO的编号 */
                init_direction  = <0>;              /* GPIO的配置方向。0：输出；1：输入 */
                init_level      = <1>;	            /* GPIO的输出电平。0：输出低电平；1：输出高电平 */
            };
            gpioport@1 {                            /* 该设备节点包含的gpio信息，具体表示方式如下 */
                gpio            = <494>;                     /* GPIO的编号 */
                init_direction  = <0>;              /* GPIO的配置方向。0：输出；1：输入 */
                init_level      = <0>;              /* GPIO的输出电平。0：输出低电平；1：输出高电平 */
            };
            gpioport@2 {                            /* 该设备节点包含的gpio信息，具体表示方式如下 */
                gpio            = <493>;              /* GPIO的编号 */
                init_direction  = <0>;              /* GPIO的配置方向。0：输出；1：输入 */
                init_level      = <1>;              /* GPIO的输出电平。0：输出低电平；1：输出高电平 */
            };
            gpioport@3 {                            /* 该设备节点包含的gpio信息，具体表示方式如下 */
                gpio            = <492>;             /* GPIO的编号 */
                init_direction  = <1>;              /* GPIO的配置方向。0：输出；1：输入 */
                init_level      = <0>;              /* GPIO的输出电平。0：输出低电平；1：输出高电平 */
            };
            gpioport@4 {                            /* 该设备节点包含的gpio信息，具体表示方式如下 */
                gpio            = <490>;             /* GPIO的编号 */
                init_direction  = <0>;              /* GPIO的配置方向。0：输出；1：输入 */
                init_level      = <0>;              /* GPIO的输出电平。0：输出低电平；1：输出高电平 */
            };
            gpioport@5 {                            /* 该设备节点包含的gpio信息，具体表示方式如下 */
                gpio            = <489>;             /* GPIO的编号 */
                init_direction  = <0>;              /* GPIO的配置方向。0：输出；1：输入 */
                init_level      = <1>;              /* GPIO的输出电平。0：输出低电平；1：输出高电平 */
            };
        };

        /* 用于固件升级CPU板上的CPLD */
        firmware_cpld_ispvme0 {
            compatible  = "firmware_cpld_ispvme";
            type        = "JTAG";
            tdi         = <491>;
            tck         = <494>;
            tms         = <493>;
            tdo         = <492>;
            chain       = <1>;
            chip_index  = <1>;
            en_gpio_0   = <490>;     /* ONLINE_JTAG_EN  GPIO1_B2  使能在线升级，需要配置为低电平0 */
            en_level_0  = <0>;      /* 默认配置为0，为0可不配 */
            en_gpio_1   = <489>;     /* JTAG_SEL_1  GPIO1_B1  选择升级哪条链路的CPLD：低电平0 -- 选择升级CPU板的CPLD, 高电平1 -- 选择升级底板的CPLD */
            en_level_1  = <0>;      /* 默认配置为0，为0可不配 */

            /* JTAG_EN enable/disable */
            en_logic_dev_0     = "/dev/cpld0";   /* 通过什么设备文件，来配置链路使能 */
            en_logic_addr_0    = <0xe8>;         /* 链路使能的寄存器地址 */
            en_logic_mask_0    = <0xfe>;         /* 寄存器值的掩码 */
            en_logic_en_val_0  = <0x01>;         /* 链路使能时，寄存器的配置值 */
            en_logic_dis_val_0 = <0x00>;         /* 链路失能时，寄存器的配置值 */
            en_logic_width_0   = <0x01>;         /* 逻辑设备的位宽： 1 --- 8bit、2 --- 16bit、4 --- 32bit */
        };

        /* 用于固件升级底板上的主从CPLD，即基地址分别为0x2000、0x4000的CPLD */
        firmware_cpld_ispvme1 {
            compatible  = "firmware_cpld_ispvme";
            type        = "JTAG";
            tdi         = <491>;
            tck         = <494>;
            tms         = <493>;
            tdo         = <492>;
            chain       = <2>;
            chip_index  = <1>;
            en_gpio_0   = <490>;
            en_level_0  = <0>;
            en_gpio_1   = <489>;
            en_level_1  = <1>;

            /* JTAG_EN enable/disable */
            en_logic_dev_0     = "/dev/cpld0";   /* 通过什么设备文件，来配置链路使能 */
            en_logic_addr_0    = <0xe8>;         /* 链路使能的寄存器地址 */
            en_logic_mask_0    = <0xfe>;         /* 寄存器值的掩码 */
            en_logic_en_val_0  = <0x01>;         /* 链路使能时，寄存器的配置值 */
            en_logic_dis_val_0 = <0x00>;         /* 链路失能时，寄存器的配置值 */
            en_logic_width_0   = <0x01>;         /* 逻辑设备的位宽： 1 --- 8bit、2 --- 16bit、4 --- 32bit */
        };

        /* 用于升级U-BOOT */
        firmware_sysfs0 {
            compatible  = "firmware_sysfs";
            type        = "MTD_DEV";
            chain       = <1>;
            chip_index  = <1>;
            mtd_name    = "mtd0";  /* mtd设备的名称 */  
            flash_base  = <0>;       /* flash基地址，固件将更新到这个位置，固件占据的空间大小为固件文件的大小（按flash块对齐） */
        };
        
        wdt {
            compatible = "wb_wdt";
            config_dev_name = "/dev/cpld1";
            feed_dev_name = "/dev/cpld1";
            hw_algo = "eigenvalues";
            config_mode = /bits/ 8 <2>;     /* logic feed wdt mode */
            priv_func_mode = /bits/ 8 <8>; /* spi atomic mode */
            logic_func_mode = /bits/ 8 <8>; /* spi atomic mode */
            feed_reg = <0x20ca>;
            active_val = /bits/ 8 <0x01>;
            enable_val = /bits/ 8 <0x01>;
            disable_val = /bits/ 8 <0x01>;  /* 不希望在卸载的时候，关闭 */
            enable_mask = /bits/ 8 <0xff>;
            enable_reg = <0x20c8>;
            /* 设置到超时寄存器的值是 hw_margin_ms / timer_accuracy */
            timeout_cfg_reg = <0x20c9>;     /* 超时时间寄存器 */
            hw_margin_ms = <5000>;          /* 超时时间 5000ms */
            timer_accuracy = <1000>;        /* 精度:秒 */
            feed_wdt_type = /bits/ 8 <1>;   /* hrtime type */
            feed_time = <500>;              /* ms */
        };

        /* 新增1个DTS节点，用来配置PHY的LED寄存器，用于mgmt点灯 */
        yt8531s-phy-led@0 {
            led0_cfg = <0x0670>;            /* LED0_CFG寄存器的值 */
            led1_cfg = <0x0670>;            /* LED1_CFG寄存器的值 */
            led2_cfg = <0x0070>;            /* LED2_CFG寄存器的值 */
        };
    };

    aliases {
        i2c0 = &i2c1;
        i2c1 = &i2c2;
        i2c111 = &i2c101;
    };
};

&gpio0 {
    status = "ok";
};

&gpio1 {
    status = "ok";
};

&uart1 {
    status = "ok";
};

&gmac0 {
    status = "ok";
    phy-mode = "rgmii-rxid";
};

&qspi {
    status = "ok";
};

&i2c1 {
    clock-frequency = <100000>;
    
    /* sda保持时间配置，保证I2C外设不会因为SDA的保持时间不够而报I2C TX abort：lost arbitrary的错误 */
    i2c-sda-hold-time-ns = <100>;

    /* 只有status = "ok" or "okay"的I2C设备节点才会被创建出平台设备 */
    status = "ok";
    
    #address-cells = <1>;
    #size-cells = <0>;

    rtc@32 {
        compatible = "dptel,rtc-ins5699";
        reg = <0x32>;
    };
};

&i2c2 {
    clock-frequency = <100000>;
    
    /* sda保持时间配置，保证I2C外设不会因为SDA的保持时间不够而报I2C TX abort：lost arbitrary的错误 */
    i2c-sda-hold-time-ns = <100>;
    
    status = "ok";
    
    #address-cells = <1>;
    #size-cells = <0>;
    
    /************** 主CPLD上模拟的PCA9548, PCA9548复位通过主CPLD内部寄存器进行控制 **************/
    pca9548@70 {
        /* 通过id_table和驱动匹配 */
        compatible = "nxp,wb_pca9548";
        
        /* 用来指定pca9548的i2c从地址 */
        reg = <0x70>;
        
        /* 用来指明其从设备reg的属性只有一个addr单元 */
        #address-cells = <1>;
        #size-cells = <0>;
        pca9548_base_nr = <26>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        /* 复位前 + 复位过程 + 复位后 的延迟时间，单位us */
        rst_delay_b = <1>;
        rst_delay   = <2>;                   /* S6231 CPLD模拟的PCA9548复位时间间隔约为120ns，故这里设备为2us */
        rst_delay_a = <1>;
        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x2019>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0xff>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0xa4>;                  /* 低电平复位时，则填0；否则和mask一致 */
        reset_off = <0xa5>;                  /* 低电平复位时，和mask一致，否则填0 */
    };
    
    pca9548@71 {
        compatible = "nxp,wb_pca9548";
        reg = <0x71>;
        #address-cells = <1>;
        #size-cells = <0>;
        pca9548_base_nr = <34>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x201a>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0xff>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0xa4>;
        reset_off = <0xa5>;
    };
    
    pca9548@72 {
        compatible = "nxp,wb_pca9548";
        reg = <0x72>;
        #address-cells = <1>;
        #size-cells = <0>;
        pca9548_base_nr = <42>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x201b>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0xff>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0xa4>;
        reset_off = <0xa5>;
    };
    
    pca9548@73 {
        compatible = "nxp,wb_pca9548";
        reg = <0x73>;
        #address-cells = <1>;
        #size-cells = <0>;
        pca9548_base_nr = <50>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x201c>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0xff>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0xa4>;
        reset_off = <0xa5>;
        mux-2@2{
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <2>;
        };
    };
    
    /************** 从CPLD上模拟的PCA9548 **************/
    pca9548@74 {
        compatible = "nxp,wb_pca9548";
        reg = <0x74>;
        #address-cells = <1>;
        #size-cells = <0>;
        pca9548_base_nr = <58>;
        probe_disable;                      /* 启动过程中，不做smbus读写，直接创建出I2C设备 */

        select_chan_check;                  /* 开启9548通道时，检查是否打开通道成功，如果失败，会进行PCA9548复位 */
        
        pca9548_reset_type = <4>;           /* 1:I2C  2:GPIO  3:IO  4:FILE */
        rst_delay_b = <1>;
        rst_delay   = <2>;
        rst_delay_a = <1>;

        dev_name  = "/dev/cpld1";            /* 复位时，要操作的设备文件 */
        offset    = <0x201d>;                /* 复位时，要操作的寄存器地址 */
        mask      = <0xff>;                  /* 掩码，要操作哪个bit，就把哪个bit置1 */
        reset_on  = <0xa4>;
        reset_off = <0xa5>;
    };
};